<template>

  <v-flex xs12 class>
    <bread-component></bread-component>

    <div id="app">
      <!--<emitter-component></emitter-component>
      <listen-component></listen-component>-->
      <detalle-component></detalle-component>
      <v-progress-linear v-show="cargando==true" :indeterminate="cargando"></v-progress-linear>
    </div>
    <v-container fluid grid-list-sm>
      {{FormateoDataTabla}}
      <v-data-iterator
        :items="UsuariosTotaldata"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
        content-tag="v-layout"
        :hide-actions="true"
        no-data-text="Cargando datos"
        row
        wrap
      >
        <template v-slot:item="props">
          
          <v-flex xs12 sm3 md3 lg3>
            <Responsable
              :idusuario="props.item.idusuario"
              :nombreusuario="props.item.usuario"
              :avatar="props.item.avatar"
              :okdata="props.item.okdata"
              :ejecuciondata="props.item.ejecuciondata"
              :retrasadodata="props.item.retrasadodata"
            ></Responsable>
          </v-flex>
        </template>
      </v-data-iterator>
    </v-container>
  </v-flex>
</template>

<script>
import Main from "@/components/layouts/wcm-tarjetas/_base-contenedor";
import MatrizMain from "@/components/layouts/wcm-tarjetas/_base-matriz";
import UsuarioRes from "@/components/layouts/wcm-tarjetas/_base-card-usuario";
import Responsable from "@/components/layouts/wcm-tarjetas/_base-card-responsable";
//import EmitterComponent from "@/components/layouts/wcm-tarjetas/EmitterComponent.vue";
//import ListenComponent from "@/components/layouts/wcm-tarjetas/ListenComponent.vue";
import DetalleComponent from "@/components/layouts/wcm-tarjetas/_base-card-matriz-detalle.vue";
import BreadComponent from "@/components/App_base/_base-breadcrumbs.vue";


//import Btn from "@/components/Library/boton";
import axios from "axios";
import { all } from "q";
export default {
  name: "ResumenMatriz",
  components: {
    Main,
    MatrizMain,
    UsuarioRes,
    Responsable,
    //EmitterComponent,
    // ListenComponent,
    DetalleComponent,
    BreadComponent
  },
  data: () => ({
    rowsPerPageItems: [4, 8, 12],
    pagination: {
      rowsPerPage: 100
    },
    Usuarios: [],
    UsuariosResumen: [],
    UsuariosTotaldata: [],
    cargando:false
  }),
  computed: {
    FormateoDataTabla: function() {
      let me = this;
      if (me.UsuariosResumen.length > 0) {
        console.log("entro1");
        if (me.UsuariosResumen.length > 0) {
          console.log("entro2");
          me.FormateoTotalData();
          // console.log("datos finales", this.UsuariosTotaldata);
        }
      }
    }
  },
  created() {
    this.cargando=true;
    this.listarUsuarios();
    this.listarUsuariosTotalResumen();
  },
  methods: {
    listarUsuarios() {
      let me = this;
      axios
        .get("api/RegistrosanomaliasMatriz/MatrizDatosResponsable")
        .then(function(response) {
          me.Usuarios = response.data;
          //   console.log("Usuarios", me.Usuarios);
        })
        .catch(function(error) {
          console.log(error);
          //catch the error, check it has a response object with lodash
          if ((error, "response")) {
            console.log("entro a los errroes");
            //console.log(error);
            if (error.message === "Network Error") {
              //me.errorMsg("El servidor se encuentra suspendido...")
              me.msgNotificacion("Información", "Servidor suspendido", "error");
              /*server is down*/
            }

            if (error.response.status == 500) {
              me.msgNotificacion(
                "Información",
                "Ocurrio un error de conexión a Internet o la red...",
                "error"
              );
              // me.errorMsg(" Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet..")
            }
            //console.log(error.response.data);
          } else {
            console.log(
              "Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet o la red"
            );
            console.log("error response property is undefined");
          }
        });
    },
    listarUsuariosTotalResumen() {
      let me = this;
      axios
        .get("api/RegistrosanomaliasMatriz/UsuariosTotalResumen/2020")
        .then(function(response) {
          me.UsuariosResumen = response.data;
          //me.formateoTotalData();
          me.cargando=false;
          //   console.log("Usuarios", me.Usuarios);
        })
        .catch(function(error) {
          me.cargando=false;
          console.log(error);
          //catch the error, check it has a response object with lodash
          if ((error, "response")) {
            console.log("entro a los errroes");
            //console.log(error);
            if (error.message === "Network Error") {
              //me.errorMsg("El servidor se encuentra suspendido...")
              me.msgNotificacion("Información", "Servidor suspendido", "error");
              /*server is down*/
            }

            if (error.response.status == 500) {
              me.msgNotificacion(
                "Información",
                "Ocurrio un error de conexión a Internet o la red...",
                "error"
              );
              // me.errorMsg(" Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet..")
            }
            //console.log(error.response.data);
          } else {
            console.log(
              "Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet o la red"
            );
            console.log("error response property is undefined");
          }
        });
    },
    FormateoTotalData() {
      let me = this;
      var i = 0;
      me.Usuarios.forEach(function(element) {
        var item = me.UsuariosResumen.find(x => x.idusuario === element.id);
        if (item) {
          me.UsuariosTotaldata.push({
            idusuario: element.id,
            usuario: element.usuarioResponsable,
            avatar: element.avatar,
            okdata: item.ok,
            ejecuciondata: item.ejecucion,
            retrasadodata: item.retrasado,
            anio: item.anio
          });
        } else {
          me.UsuariosTotaldata.push({
            idusuario: element.id,
            usuario: element.usuarioResponsable,
            avatar: element.avatar,
            okdata: 0,
            ejecuciondata: 0,
            retrasadodata: 0,
            anio: 0
          });
        }

        i++;
        //console.log(i);
      });
    }
  }
};
</script>

