<template>
    <v-layout align-start>
        <v-flex>
            <v-container>
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/home' }">Inicio</el-breadcrumb-item>
                <el-breadcrumb-item :to="{ path: '/reporteswcm' }">Reportes</el-breadcrumb-item>
                <el-breadcrumb-item>Seguimiento de Tarjetas</el-breadcrumb-item>
            </el-breadcrumb>
            <el-divider/>
            <el-tabs type="border-card">
                <el-tab-pane label="Año">
                    <SeguimientoAnual/>
                </el-tab-pane>
                <el-tab-pane label="Mensual Azul"><SeguimientoMensualAzul/></el-tab-pane>
                <el-tab-pane label="Mensual Roja"><SeguimientoMensualRoja/></el-tab-pane>
                <el-tab-pane label="Mensual Verde-Azul"><SeguimientoMensualVerdeAzul/></el-tab-pane>
                <el-tab-pane label="Mensual Verde-Roja"><SeguimientoMensualVerdeRoja/></el-tab-pane>
            </el-tabs>
            </v-container>
        </v-flex>
    </v-layout>
</template>

<script>
import SeguimientoAnual from '../../../components/SeguimientoTarjeta/seguimiento-anual';
import SeguimientoMensualAzul from '../../../components/SeguimientoTarjeta/seguimiento-mensual-azul';
import SeguimientoMensualRoja from '../../../components/SeguimientoTarjeta/seguimiento-mensual-roja';
import SeguimientoMensualVerdeAzul from '../../../components/SeguimientoTarjeta/seguimiento-mensual-verde-azul';
import SeguimientoMensualVerdeRoja from '../../../components/SeguimientoTarjeta/seguimiento-mensual-verde-roja';
export default {
    components:{
        SeguimientoAnual,
        SeguimientoMensualAzul,
        SeguimientoMensualRoja,
        SeguimientoMensualVerdeAzul,
        SeguimientoMensualVerdeRoja
    },
    data(){
        return {

        }
    },
    methods:{

    }
}
</script>
