<template>
  <v-container class fluid grid-list-md>
    <!-- <Main class titulo="Todos los informes"></Main>-->
    <bread-component></bread-component>

    <v-data-iterator
      :items="items"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      :hide-actions="true"
      content-tag="v-layout"
      row
      wrap
    >
      <template v-slot:item="props">
        <v-flex xs12 sm4 md4 lg4>
          <v-card class="ma-0 pa-1">
            <apexchart
              v-if="props.item.name=='Matriz de Tarjetas WCM'"
              type="heatmap"
              height="200"
              :options="chartOptions"
              :series="series"
            ></apexchart>
            <apexchart
              v-if="props.item.name=='Seguimiento y Atención'"
              type="heatmap"
              height="200"
              :options="chartOptions4"
              :series="series"
            ></apexchart>
            <apexchart
              v-if="props.item.name=='Graficos de tarjetas'"
              type="bar"
              height="200"
              :options="chartOptions3"
              :series="series"
            ></apexchart>
            <apexchart
              v-if="props.item.name=='Resumen de tarjetas'"
              type="heatmap"
              height="200"
              :options="chartOptions2"
              :series="series"
            ></apexchart>

            <v-card-title primary-title>
              <div>
                <span class="body-1 grey--text bold">{{props.item.name}}</span>
              </div>
            </v-card-title>

            <v-card-actions>
              <v-btn flat small color="primary" :to="{ name:props.item.link}">Explorar</v-btn>

              <v-spacer></v-spacer>
              <v-btn icon key="props.item.calories" @click="props.item.boton= !props.item.boton">
                <v-icon>{{ props.item.boton ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
              </v-btn>
            </v-card-actions>

            <v-slide-y-transition>
              <v-card-text
                v-show="props.item.boton==true"
              >I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.</v-card-text>
            </v-slide-y-transition>
          </v-card>
        </v-flex>
      </template>
    </v-data-iterator>
  </v-container>
</template>

<script>
function generateData(count, yrange) {
  var i = 0;
  var series = [];
  while (i < count) {
    var x = "w" + (i + 1).toString();
    var y =
      Math.floor(Math.random() * (yrange.max - yrange.min + 1)) + yrange.min;

    series.push({
      x: x,
      y: y
    });
    i++;
  }
  return series;
}
// @ is an alias to /src
//import Tarjeta from './_base-card-total'
//import Footer from '@/components/Footer'
import Main from "@/components/layouts/wcm-tarjetas/_base-contenedor";
import BreadComponent from "@/components/App_base/_base-breadcrumbs.vue";

//import Btn from "@/components/Library/boton";

export default {
  name: "ResumenMeses",
  components: {
    Main,
    BreadComponent
  },
  data: () => ({
    series: [
      {
        name: "Junio",
        data: generateData(4, {
          min: 0,
          max: 90
        })
      },
      {
        name: "Mayo",
        data: generateData(4, {
          min: 0,
          max: 90
        })
      },
      {
        name: "Abril",
        data: generateData(4, {
          min: 0,
          max: 90
        })
      },
      {
        name: "Marzo",
        data: generateData(4, {
          min: 0,
          max: 90
        })
      },
      {
        name: "Febrero",
        data: generateData(4, {
          min: 0,
          max: 90
        })
      },
      {
        name: "Enero",
        data: generateData(4, {
          min: 0,
          max: 90
        })
      }
    ],
    chartOptions: {
      chart: {
        height: 350,
        type: "heatmap"
      },
      dataLabels: {
        enabled: true
      },
      colors: ["#008FFB"],
      title: {
        text: "CUMPLIMIENTO DE ATENCIÓN"
      }
    },
    chartOptions2: {
      chart: {
        height: 350,
        type: "heatmap"
      },
      plotOptions: {
        heatmap: {
          shadeIntensity: 0.5,
          radius: 0,
          useFillColorAsStroke: true,
          colorScale: {
            ranges: [
              {
                from: -30,
                to: 5,
                name: "A",
                color: "red"
              },
              {
                from: 6,
                to: 20,
                name: "B",
                color: "yellow"
              },
              {
                from: 21,
                to: 45,
                name: "C",
                color: "green"
              }
            ]
          }
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        width: 1
      },
      title: {
        text: "RESUMEN TARJETAS"
      }
    },

    chartOptions3: {
      chart: {
        type: "bar",
        height: 350
      },
      plotOptions: {
        bar: {
          horizontal: false,
          columnWidth: "55%",
          endingShape: "rounded"
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        show: true,
        width: 2,
        colors: ["transparent"]
      },
      title: {
        text: "GRÁFICAS DE LA ATENCIÓN"
      },
      xaxis: {
        categories: ["Ene", "Feb", "Mar", "Abr", "Jun"]
      },
      yaxis: {
        title: {
          text: "hr (Año)"
        }
      },
      fill: {
        opacity: 1
      },
      tooltip: {
        y: {
          formatter: function(val) {
            return "$ " + val + " thousands";
          }
        }
      }
    },

    chartOptions4: {
      chart: {
        height: 350,
        type: "heatmap"
      },
      plotOptions: {
        heatmap: {
          shadeIntensity: 0.5,
          radius: 0,
          useFillColorAsStroke: true,
          colorScale: {}
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        width: 1
      },
      title: {
        text: "SEGUIMIENTO DE ATENCIÓN"
      }
    },

    //Control de datos
    rowsPerPageItems: [4, 8, 12],
    pagination: {
      rowsPerPage: 10
    },
    show1: false,
    show2: false,
    show3: false,
    show4: false,
    //DATOS DE ITERACION DE CARDS
    items: [
      {
        name: "Matriz de Tarjetas WCM",
        link: "reporteswcmmatriz",

        boton: "show1"
      },
      {
        name: "Seguimiento y Atención",
        link: "seguimiento-tarjeta",

        boton: "show2"
      },
      {
        name: "Graficos de tarjetas",
        link: "reportesgraficos",

        boton: "show3"
      },
      {
        name: "Resumen de tarjetas",
        link: "wcmresumen",

        boton: "show4"
      }
    ]
  }),
  methods: {
    generateData(count, yrange) {
      var i = 0;
      var series = [];
      while (i < count) {
        var x = (i + 1).toString();
        var y =
          Math.floor(Math.random() * (yrange.max - yrange.min + 1)) +
          yrange.min;
        series.push({
          x: x,
          y: y
        });
        i++;
      }
      return series;
    },

    CambiarNumeroTarjeta(valor) {
      var total = (this.PropsColorRoja = valor);

      console.log("total props", total);
    },
    handleClick(tab, event) {
      console.log(tab, event);
    }
  },
  created() {
    //  this.AnioActual();
    this.PropsColorRoja = 1;
  }
};
</script>

<style>
.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}
