<template>
  <v-layout align-start>
    <v-container fluid grid-list-sm>
      <!--VENTANA CONFIRMACION DE ASIGNACION-->
      <v-dialog v-model="dialogconfirmar" persistent max-width="250">
        <v-card>
          <div class="body-1">Tarjeta a recibir:</div>
          <v-card-title class="display-1" v-text="this.codigo"></v-card-title>

          <v-card-actions>
            <v-btn color="green darken-1" @click="confirmarStadoSupervisor">Recibir</v-btn>
            <v-btn color="green darken-1" flat @click="dialogconfirmar = false">Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!--VENTANA IMAGEN y animacion de carga-->

      <v-dialog v-model="dialogiamgen" height="750" width="818" persistent>
        <template>
          <v-dialog v-model="dialogCargaImagen" hide-overlay persistent width="300">
            <!--IMAGEN DE INICIO-->
            <v-card color="primary" dark>
              <v-card-text>
                {{this.infoload}}
                <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
              </v-card-text>
            </v-card>
          </v-dialog>
          <v-layout align-center wrap>
            <v-flex v-if="verImgCarga" class="pa-1" xs6>
              <v-card class="mx-auto" max-width="400">
                <template v-if="verImgCarga">
                  <v-flex xs10>
                    <v-image-input
                      v-model="imageUrl"
                      :image-quality="0.99"
                      image-format="jpg"
                      minScaling="contain"
                      overlayBorderWidth="7px"
                      overlayPadding="1px"
                      backgroundColor="black"
                      :imageHeight="300"
                      :imageWidth="450"
                      clearable
                    />
                  </v-flex>
                </template>
                <v-card-actions>
                  <v-btn text @click="OculatarImagen()" color="orange">Cerrar</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>

            <v-flex class="pa-1" xs6>
              <v-card class="mx-auto" max-width="400">
                <v-flex xs12 v-if="this.imageUrl=='A' ">
                  <div class="red--text" key="Sin imagen">No se cargo ninguna imagen...</div>
                </v-flex>
                <v-img class="white--text" height="300px" width="400" :src="imageUrl">
                  <v-card-title class="align-end fill-height">Imagen del antes</v-card-title>
                </v-img>
                <v-card-text>
                  <span>Visualización de la anomalía</span>
                </v-card-text>
                <v-card-actions>
                  <v-btn text @click="OculatarImagen()" color="orange">Cerrar</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
            <v-flex class="pa-1" xs6>
              <v-card class="mx-auto" max-width="400">
                <v-card-text>
                  <v-flex xs12 v-if="this.imageUrlSolucion=='A' ">
                    <div class="red--text" key="Sin imagen">No se cargo ninguna imagen...</div>
                  </v-flex>
                </v-card-text>
                <v-img class="white--text" height="300px" width="400" :src="imageUrlSolucion">
                  <v-card-title class="align-end fill-height">Imagen del después</v-card-title>
                </v-img>

                <v-card-text>
                  <span>Solución aplicada</span>
                </v-card-text>

                <v-card-actions>
                  <v-btn text @click="CambiarImagenDespues=1,dialogiamgen=0" color="green">Cambiar</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </template>
      </v-dialog>

      <!--MODIFICAR IMAGEN DE DESPUES--->

      <v-dialog width="450" height="350" persistent v-model="this.CambiarImagenDespues">
        <v-card class="mx-auto" max-width="450">
          <v-image-input
            v-model="imageUrlSolucion"
            :image-quality="0.99"
            image-format="jpg"
            minScaling="contain"
            overlayBorderWidth="7px"
            overlayPadding="1px"
            backgroundColor="black"
            :imageHeight="300"
            :imageWidth="450"
            clearable
          />

          <v-card-actions>
            <v-btn text @click="CambiarImagenDespues=0,dialogiamgen=1" color="orange">Cancelar</v-btn>
            <v-btn
              :loading="loadingImg"
              :disabled="loadingImg"
              @click="editarImagen()"
              color="success"
            >Guardar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- DIALOG BUSCAR MAQUINA-->
      <v-dialog v-model="verMaquinas" max-width="500">
        <v-card>
          <v-card-title>
            <span class="headline">Seleccione una Maquina</span>
            <v-flex xs12 sm1 md1 lg1 xl2>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn @click="listarMaquinas()" small fab dark color="teal" v-on="on">
                    <v-icon dark>cached</v-icon>
                  </v-btn>
                </template>
                <span>Actualizar lista maquinas</span>
              </v-tooltip>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscarmaquina"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-data-table
                      :headers="cabeceraMaquinas"
                      :items="maquinas"
                      :search="buscarmaquina"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon
                            medium
                            class="mr-2"
                            @click="agregarMaquina(props.item) "
                          >add_circle</v-icon>
                        </td>
                        <td>{{ props.item.nombre }}</td>
                        <td>{{props.item.area}}</td>
                      </template>

                      <template slot="no-data">
                        <h3>No hay maquinas para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="ocultarMaquinas()" color="blue darken" flat>Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- DIALOG BUSCAR SUCESSO-->
      <v-dialog v-model="verSucesos" max-width="500">
        <v-card>
          <v-card-title>
            <span class="headline">Relacionada con :</span>
            <v-flex xs12 sm1 md1 lg1 xl2>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn @click="listarSuceso()" small fab dark color="teal" v-on="on">
                    <v-icon dark>cached</v-icon>
                  </v-btn>
                </template>
                <span>Actualizar lista Relacion</span>
              </v-tooltip>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscarsuceso"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-data-table
                      :headers="cabeceraSuceso"
                      :items="sucesosdata"
                      :search="buscarsuceso"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon medium class="mr-2" @click="agregarSuceso(props.item) ">add_circle</v-icon>
                        </td>
                        <td>{{ props.item.nombre }}</td>
                      </template>

                      <template slot="no-data">
                        <h3>No hay sucesos para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="ocultarSuceso()" color="blue darken" flat>Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- DIALOG BUSCAR AREAS-->
      <v-dialog v-model="this.verAreas" max-width="500">
        <v-card>
          <v-card-title>
            <span class="headline">Areas :</span>
            <v-flex xs12 sm1 md1 lg1 xl2>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn @click="this.listarAreas()" small fab dark color="teal" v-on="on">
                    <v-icon dark>cached</v-icon>
                  </v-btn>
                </template>
                <span>Actualizar lista Areas</span>
              </v-tooltip>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscarareas"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-data-table :headers="cabeceraSuceso" :items="areas" :search="buscarareas">
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon medium class="mr-2" @click="agregarArea(props.item) ">add_circle</v-icon>
                        </td>
                        <td>{{ props.item.nombre }}</td>
                      </template>

                      <template slot="no-data">
                        <h3>No hay areas para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="ocultarArea()" color="blue darken" flat>Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- DIALOG ANOMALIAS-->
      <v-dialog v-model="verAnomalias" max-width="500">
        <v-card>
          <v-card-title>
            <span class="headline">Seleccione una Anomalia</span>

            <v-flex xs12 sm1 md1 lg1 xl2>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn @click="listarAnomalia()" small fab dark color="teal" v-on="on">
                    <v-icon dark>cached</v-icon>
                  </v-btn>
                </template>
                <span>Actualizar lista anomalias</span>
              </v-tooltip>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscaranomalia"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-data-table
                      :headers="cabeceraAnomalias"
                      :items="anomaliasdata"
                      :search="buscaranomalia"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon
                            medium
                            class="mr-2"
                            @click="agregarAnomalia(props.item)"
                          >add_circle</v-icon>
                        </td>
                        <td>{{ props.item.nombre }}</td>
                        <td>{{ props.item.descripcion }}</td>
                      </template>
                      <template slot="no-data">
                        <h3>No hay anomalias para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="ocultarAnomalia()" color="blue darken" flat>Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!--Atributos del fomulario-->
      <v-container ma-0 pa-2 class="grey lighten-4" v-if="verNuevo">
        <v-layout row wrap>
          <v-flex xs12>
            <v-flex xs12 ma-0 pa-0>
              <v-toolbar flat color="#303F9F" dark v-if="accionTarjeta==true">
                <v-icon>assignment</v-icon>
                <v-toolbar-title>Ingreso de tarjeta</v-toolbar-title>
                <div class="flex-grow-0"></div>
                <v-icon>save</v-icon>
              </v-toolbar>
              <v-toolbar flat color="#303F9F" dark v-if="accionTarjeta==false">
                <v-icon>assignment</v-icon>
                <v-toolbar-title>Edición de tarjeta {{this.codigo}}</v-toolbar-title>
                <div class="flex-grow-0"></div>
                <v-icon>edit</v-icon>
              </v-toolbar>
            </v-flex>
          </v-flex>
          <v-flex xs12 sm4 md4 lg4 xl2>
            <v-overflow-btn class="my-0" :items="pasoma" label="Paso MA" v-model="tarjetapasoma"></v-overflow-btn>
          </v-flex>

          <v-flex xs12 sm3 md3 lg3 xl2>
            <v-text-field readonly v-model="nombrearea" label="Area"></v-text-field>
          </v-flex>
          <v-flex xs12 sm1 md1 lg1 xl2>
            <v-btn @click="mostrarAreas()" small fab dark color="teal">
              <v-icon dark>list</v-icon>
            </v-btn>
          </v-flex>

          <v-flex xs12 sm4 md4 lg4 xl4>
            <v-radio-group v-model="tarjetacriticidad" row label="Criticidad" :mandatory="false">
              <v-radio label="A" value="A"></v-radio>
              <v-radio label="B" value="B"></v-radio>
              <v-radio label="C" value="C"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 sm3 md3 lg3 xl2>
            <v-text-field readonly v-model="nombremaquina" label="Maquina"></v-text-field>
          </v-flex>
          <v-flex xs12 sm1 md1 lg1 xl2>
            <v-btn @click="mostrarMaquinas()" small fab dark color="teal">
              <v-icon dark>list</v-icon>
            </v-btn>
          </v-flex>
          <v-flex xs12 sm3 md3 lg3 xl2>
            <v-text-field readonly v-model="nombreanomalia" label="Anomaila"></v-text-field>
          </v-flex>
          <v-flex xs12 sm1 md1 lg1 xl2>
            <v-btn @click="mostrarAnomalia()" small fab dark color="teal">
              <v-icon dark>list</v-icon>
            </v-btn>
          </v-flex>
          <v-flex xs12 sm3 md3 lg3 xl2>
            <v-text-field readonly v-model="nombresuceso" label="Relacionada con:"></v-text-field>
          </v-flex>
          <v-flex xs12 sm1 md1 lg1 xl2>
            <v-btn @click="mostrarSuceso()" small fab dark color="teal">
              <v-icon dark>list</v-icon>
            </v-btn>
          </v-flex>
          <v-flex xs12 sm6 md6 lg6 xl2>
            <v-textarea
              clearable
              clear-icon="cancel"
              rows="2"
              label="Descripción detallada de la anomalía:"
              value
              v-model="tarjetadescripcion"
            ></v-textarea>
          </v-flex>
          <v-flex>
            <div>
              <div>
                <img
                  :src="imageUrl"
                  ref="imageUrl"
                  height="150"
                  @click="onPickFile"
                  style="cursor: pointer;"
                />
              </div>
              <div>
                <v-flex v-if="this.accionTarjeta">
                  <v-btn raised @click="onPickFile" v-if="!imageUrl">{{ selectLabel }}</v-btn>
                  <v-btn raised class="error" @click="removeFile" v-else>{{ removeLabel }}</v-btn>
                  <input
                    type="file"
                    ref="image"
                    name="image"
                    :accept="accept"
                    @change="onFilePicked"
                  />
                </v-flex>
              </div>
            </div>
          </v-flex>

          <v-flex xs12 sm2 md2 lg2 xl2 v-if="errorArticulo">
            <div class="red--text" v-text="errorArticulo"></div>
          </v-flex>

          <v-flex xs12 sm12 md12 lg12 xl12>
            <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v"></div>
          </v-flex>
          <v-flex xs12 sm12 md12 lg12 xl12>
            <v-btn @click="ocultarNuevo()" color="blue darken-1" flat>Cancelar</v-btn>
            <v-btn
              v-if="this.accionTarjeta==true"
              :loading="loading"
              :disabled="loading"
              @click="guardar()"
              color="success"
            >Guardar</v-btn>
            <v-btn
              v-if="this.accionTarjeta==false"
              :loading="loading"
              :disabled="loading"
              @click="editarDatos()"
              color="success"
            >Guardar cambios</v-btn>
          </v-flex>
        </v-layout>
      </v-container>

      <!--NOTIFICACIONES-->
      <v-snackbar
        v-model="snackbar"
        :timeout="this.timeout"
        bottom
        right="right"
        :color="this.color"
      >{{textsnackbar}}</v-snackbar>

      <!--VENTANA DETALLES -->
      <template>
        <v-dialog v-model="dialog" max-width="350">
          <v-card max-width="350" class="mx-auto">
            <v-card-title>
              <v-flex xs6>
                <v-layout wrap>
                  <v-flex xs12 align-start class="subtitle-1 text-xs-center black--text">
                    <v-alert
                      :value="true"
                      color="info"
                      dense
                      outline
                      class="pa-0"
                    >Tarjeta de Anomalía</v-alert>
                  </v-flex>
                  <v-flex xs12 class="body-1 text-xs-center blue darken-3 white--text">
                    <h2>INGENIERIA</h2>
                  </v-flex>

                  <v-flex xs12 align-start class="subtitle-1 text-xs-center black--text">
                    <v-alert :value="true" color="info" dense outline class="pa-0">.</v-alert>
                  </v-flex>
                </v-layout>
                <v-flex xs12 class="pa-0 ma-0">
                  <p
                    class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                  >Sector: {{this.area}}</p>
                </v-flex>

                <v-flex xs12 class="pa-0 ma-0">
                  <p
                    class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                  >Maquina: {{this.maquina}}</p>
                </v-flex>
              </v-flex>
              <v-layout wrap>
                <v-flex xs12>
                  <v-flex
                    xs12
                    class="subtitle-1 black--text pa-0 ma-4 subtitle-1 text-xs-center red--text"
                  >
                    <h2>{{this.codigo}}</h2>
                  </v-flex>

                  <v-flex xs12>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                      >{{this.nombre_usuario}}</p>
                    </v-flex>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                      >Fecha: {{this.emision_ts}}</p>
                    </v-flex>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                      >Paso MA : {{this.paso_ma}}</p>
                    </v-flex>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                      >Criticidad : {{this.criticidad}}</p>
                    </v-flex>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                      >Turno : {{this.turno}}</p>
                    </v-flex>
                  </v-flex>
                </v-flex>
              </v-layout>
            </v-card-title>
            <v-card-text class="pa-0 ma-0">
              <v-layout justify-center align-center wrap>
                <v-flex xs6>
                  <p
                    class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                  >Anomalía:</p>
                </v-flex>
                <v-flex xs6>
                  <p
                    class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                  >Relacionada con:</p>
                </v-flex>

                <v-flex class="pink ligthten-1 white--text" xs6>
                  <p
                    class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                  >{{this.anomaliac}}</p>
                </v-flex>

                <v-flex class="pink ligthten-1 white--text" xs6>
                  <p
                    class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                  >{{this.relacionado}}</p>
                </v-flex>
              </v-layout>

              <v-layout justify-center align-center wrap class="pa-0 ma-0">
                <v-flex xs12>
                  <p
                    class="caption pa-2 ma-0 indigo darken-4 white--text subtitle-1 text-xs-left"
                  >Descripción detallada de la anomalía:</p>
                </v-flex>
              </v-layout>

              <v-layout justify-center align-center wrap class="pa-0 ma-0">
                <v-flex xs12>
                  <v-card class="mx-auto">
                    <v-card-text class="caption">{{this.descripcion}}</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              <v-layout justify-center align-center wrap class="pa-0 ma-0">
                <v-flex xs12>
                  <p
                    class="caption pa-2 ma-0 indigo darken-4 white--text subtitle-1 text-xs-left"
                  >Descripción detallada de la solución:</p>
                </v-flex>
              </v-layout>

              <v-layout justify-center align-center wrap class="pa-0 ma-0">
                <v-flex xs12>
                  <v-card class="mx-auto">
                    <v-card-text class="caption">{{this.solucionTarjeta}}</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              <v-layout justify-center align-center wrap class="pa-0 ma-0">
                <v-flex xs6>
                  <p
                    class="caption pa-2 ma-0 blue-grey lighten-1 darken-4 white--text subtitle-1 text-xs-left"
                  >Resuelto por: {{this.usuariotecnico}}</p>
                </v-flex>

                <v-flex xs6>
                  <p
                    class="caption pa-2 ma-0 cyan darken-3 darken-4 white--text subtitle-1 text-xs-left"
                  >Solución: {{this.fecharesuelto}}</p>
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-btn @click="ocultarDetalle()">CERRAR</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <!--VENTANA LISTA DE TARJETAS -->
      <template v-if="this.verListaTarjetas==true">
        <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item :to="{ path: '/' }">Inicio</el-breadcrumb-item>
              <el-breadcrumb-item :to="{ path: '/tarjetas' }">WCM Tarjetas</el-breadcrumb-item>
              <el-breadcrumb-item>Ingenieria</el-breadcrumb-item>
              
            </el-breadcrumb>
            <el-divider></el-divider>
        <v-toolbar flat color="white">
          <v-layout mt-1 justify-center align-center wrap>
               <v-btn small v-if="verNuevo==0" @click="dataControLiderSuperProduccion() ,listarsinfoto(3)" color="blue" fab dark>
              <v-icon>update</v-icon>
            </v-btn>
            <div class="text-center">
              <v-avatar :size="30">
                <img :src="require('../../../../assets/IngData.png')" alt="avatar" />
              </v-avatar>
            </div>

            <v-toolbar-title class="body-1">Lista de Ingreso</v-toolbar-title>
            <v-divider class="mx-2" inset vertical></v-divider>

            <v-spacer></v-spacer>
            <v-text-field
              class="text-xs-center"
              v-model="search"
              append-icon="search"
              label="Búsqueda"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
          </v-layout>
        </v-toolbar>
        <el-divider>
          <i></i>
        </el-divider>

        <v-data-iterator
          :items="itemsdata"
          :search="search"
          :rows-per-page-items="rowsPerPageItems"
          :pagination.sync="pagination"
          content-tag="v-layout"
          row
          wrap
        >
          <template v-slot:item="props">
            <v-flex xs12 sm4>
              <v-hover>
                <v-card
                  slot-scope="{ hover }"
                  :class="`elevation-${hover ? 10 : 2}`"
                  class="mx-auto"
                >
                  <v-card-title>
                    <v-flex xs5>
                      <v-layout wrap>
                        <v-flex xs12 align-start class="caption text-xs-center black--text">
                          <v-alert
                            :value="true"
                            color="yellow darken-1"
                            class="pa-0 caption black--text"
                          >Tarjeta de Anomalía</v-alert>
                        </v-flex>
                        <v-flex xs12 class="caption text-xs-center yellow gray--text">
                          <h2>INGENIERIA</h2>
                        </v-flex>

                        <v-flex xs12 align-start class="caption text-xs-center black--text">
                          <v-alert :value="true" color="yellow " dense outline class="pa-0">
                            <v-flex class="text-xs-center" xs1>
                              <template class="text-xs-center" v-if="props.item.criticidad==='A'">
                                <div class="caption text-xs-center">
                                  <span
                                    class="red--text caption text-xs-center"
                                  >Criticidad:{{props.item.criticidad}}</span>
                                </div>
                              </template>
                              <template class="text-xs-center" v-if="props.item.criticidad==='B'">
                                <div class="caption">
                                  <span class="yellow--text">Criticidad:{{props.item.criticidad}}</span>
                                </div>
                              </template>
                              <template class="text-xs-center" v-if="props.item.criticidad==='C'">
                                <div class="caption">
                                  <span class="green--text">Criticidad:{{props.item.criticidad}}</span>
                                </div>
                              </template>
                            </v-flex>
                          </v-alert>
                        </v-flex>
                      </v-layout>
                      <v-flex xs12 class="pa-0 ma-0">
                        <p
                          class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                        >Sector: {{props.item.area}}</p>
                      </v-flex>

                      <v-flex xs12 class="pa-0 ma-0">
                        <p
                          class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                        >Maquina: {{props.item.maquina}}</p>
                      </v-flex>
                    </v-flex>
                    <v-layout>
                      <v-flex xs12>
                        <v-flex xs7 class="caption black--text pa-0 ma-4 text-xs-center red--text">
                          <h2>{{props.item.codigo}}</h2>
                        </v-flex>

                        <v-flex xs12>
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-center"
                            >{{props.item.usuario}}</p>
                          </v-flex>
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Fecha: {{props.item.emision_ts}}</p>
                          </v-flex>
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Paso MA:{{props.item.paso_ma}}</p>
                          </v-flex>
                          <!--<v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Criticidad : {{props.item.criticidad}}</p>
                          </v-flex>-->
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Turno: {{props.item.turno}}</p>
                          </v-flex>
                        </v-flex>
                      </v-flex>
                    </v-layout>
                  </v-card-title>
                  <v-card-text class="pa-0 ma-0">
                    <v-layout justify-center align-center wrap>
                      <v-flex xs6>
                        <p
                          class="caption pa-1 ma-0 yellow black--text subtitle-1 text-xs-left"
                        >Proyecto Asignado:</p>
                      </v-flex>
                      <v-flex class="white--text" xs6>
                        <p
                          class="caption pa-1 ma-0 yellow font-weight-bold black--text subtitle-1 text-xs-left"
                        >{{props.item.proyecto}}</p>
                      </v-flex>
                      <v-flex xs6>
                        <p
                          class="caption pa-1 ma-0 yellow black--text subtitle-1 text-xs-left"
                        >Anomalía:</p>
                      </v-flex>
                      <v-flex xs6>
                        <p
                          class="caption pa-1 ma-0 yellow black--text subtitle-1 text-xs-left"
                        >Relacionada con:</p>
                      </v-flex>

                      <v-flex class="white--text" xs6>
                        <p
                          class="caption pa-1 ma-0 yellow black--text subtitle-1 text-xs-left"
                        >{{props.item.anomaliac}}</p>
                      </v-flex>

                      <v-flex class="white--text" xs6>
                        <p
                          class="caption pa-1 ma-0 yellow black--text subtitle-1 text-xs-left"
                        >{{props.item.relacionado}}</p>
                      </v-flex>
                    </v-layout>

                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs12>
                        <p
                          class="caption pa-2 ma-0 yellow black--text subtitle-1 text-xs-left"
                        >Descripción detallada de la anomalía:</p>
                      </v-flex>
                    </v-layout>

                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs12>
                        <v-card class="mx-auto">
                          <v-card-text>{{props.item.descripcion}}</v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs12>
                        <p
                          class="caption pa-2 ma-0 pa-2 ma-0 yellow black--text subtitle-1 text-xs-left"
                        >Descripción detallada de la solución:</p>
                      </v-flex>
                    </v-layout>

                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs12>
                        <v-card class="mx-auto">
                          <v-card-text class="caption">{{props.item.sol_implementada}}</v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs6>
                        <p
                          class="caption pa-2 ma-0 yellow black--text subtitle-1 text-xs-left"
                        >Resuelto por: {{props.item.tecnico}}</p>
                      </v-flex>

                      <v-flex xs6>
                        <p
                          class="caption pa-2 ma-0 yellow black--text subtitle-1 text-xs-left"
                        >Solución: {{props.item.fecha_solucion}}</p>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                  <v-card-actions>
                    <v-flex xs3>
                      <!--VENTANA ACCCIONES -->
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            flat
                            icon
                            v-on="on"
                            color="#64DD17"
                            @click="editItemConfirmar(props.item)"
                          >
                            <v-icon>done_outline</v-icon>
                          </v-btn>
                        </template>
                        <span>Recibir tarjeta</span>
                      </v-tooltip>
                    </v-flex>

                    <!--<v-flex xs3>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn flat icon v-on="on" color="#0277BD" @click="editItem(props.item)">
                            <v-icon>launch</v-icon>
                          </v-btn>
                        </template>
                        <span>Ver detalles de la tarjeta</span>
                      </v-tooltip>
                    </v-flex>-->
                    <v-flex xs3>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            flat
                            icon
                            v-on="on"
                            color="#E65100"
                            @click="VerfotoAmbos(props.item)"
                          >
                            <v-icon>photo</v-icon>
                          </v-btn>
                        </template>
                        <span>Foto del antes</span>
                      </v-tooltip>
                    </v-flex>

                    <!--  <v-flex xs3>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            flat
                            icon
                            v-on="on"
                            color="#455A64"
                            @click="editarTarjeta(props.item)"
                          >
                            <v-icon>edit</v-icon>
                          </v-btn>
                        </template>
                        <span>Editar datos de la tarjeta</span>
                      </v-tooltip>
                    </v-flex>-->
                  </v-card-actions>
                </v-card>
              </v-hover>
            </v-flex>
          </template>
        </v-data-iterator>
      </template>
    </v-container>
  </v-layout>
</template>
  


<script>
import axios from "axios";
import { all } from "q";
export default {
  props: {
    value: {
      type: String
    },
    accept: {
      type: String,
      default: "*"
    },
    selectLabel: {
      type: String,
      default: "Seleccione una imagen"
    },
    cargarunaimagen: {
      type: String,
      default: "cargue una imagen"
    },
    removeLabel: {
      type: String,
      default: "Cambiar imagen"
    }
  },
  data() {
    return {
      imageUrl: "",
      imagen_anomalia: null,
      files: null,
      dialog: false,
      show: false,
      search: "",
      rowsPerPageItems: [3, 6, 8, 12, 50],
      pagination: {
        rowsPerPage: 3
      },
      pasoma: [0, 1, 2, 3, 4, 5, 6, 7],
      menu2: false,
      areas: [],
      // SNACKBAS NOTIFICACIONS
      color: "",
      snackbar: false,
      textsnackbar: "My timeout is set to 2000.",
      timeout: 2000,
      x: "right",
      y: "top",
      anomalias: [],

      itemsdata: [],
      datasrc: [],
      // variables
      codigo: "",
      idanomalia: "",
      nombre_anomalia: "",
      emision_ts: "",
      id_usuario: "",
      nombre_usuario: "",
      maquina: "",
      anomaliac: "",
      relacionado: "",
      tarjeta: "",
      idtarjeta: 0,
      descripcion: "",
      paso_ma: "",
      criticidad: "",
      turno: "",
      area: "",
      relacionado: "",
      dialogconfirmar: false,
      snackbar: false,
      timeout: 2000,
      mensajesnack: "",
      tarjetauser: "",
      verNuevo: 0,

      errorArticulo: null,
      //variables de maquina
      buscarmaquina: "",
      idmaquina: "",
      nombremaquina: "",
      maquinas: [],
      verMaquinas: 0,
      showbuscarmaquinatooltip: false,
      //variables de areas
      idarea: "",
      nombrearea: "",
      //variables de anomalias
      buscaranomalia: "",
      idanomalia: "",
      nombreanomalia: "",
      anomaliasdata: [],
      verAnomalias: 0,
      //variables de registro sucesos
      buscarsuceso: "",
      bucararea: "",
      idsuceso: "",
      nombresuceso: "",
      sucesosdata: [],
      verSucesos: 0,

      id: "",
      idproveedor: "",
      areas: [],

      idusuariotarjeta: "",
      tarjetanombre: "",
      tarjetafecha: "",
      tarjetapasoma: -1,
      tarjetacriticidad: "",
      tarjetaturno: "",
      tarjtadecripcion: "",
      tarjetasol_implementada: "",
      tarjetaidtecnico: 2,
      tarjetaconfirmacion_tec: false,
      tarjetaidsupervisor: 2,
      tarjetaconfirmacion_super: false,
      tarjetaobservaciones: "",
      tarjetaprog: false,
      tarjetaeliminado: false,
      tarjetadescripcion: "",
      tarjetaidtarjeta: 3,
      //auxiliadres
      loading: false,
      loadingImg: false,
      verMenuTarjetas: true,
      verListaTarjetas: true,
      botonlista: false,
      dialogiamgen: false,
      detalles: [],
      dialogCargaImagen: false,
      infoload: "carga de imagen en",
      idfoto: "",
      accionTarjeta: true,
      idregistroanomalia: "",
      verAreas: false,
      buscarareas: "",
      solucionTarjeta: "",
      usuariotecnico: "",
      fecharesuelto: "",
      controlFoto: true,
      imageUrlSolucion: "",
      verImgCarga: false,
      idfotoSolucion: "",

      src: "null",

      //Confimacion
      solucionimplentada: "",

      verNuevo: 0,
      errorArticulo: null,

      cabeceraMaquinas: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Maquina", value: "nombre", sortable: false },
        { text: "Area", value: "area", sortable: false }
      ],
      cabeceraAnomalias: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Anomalia", value: "nombre", sortable: false },
        { text: "Descripcion", value: "descripcion", sortable: false }
      ],
      cabeceraSuceso: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Anomalia", value: "nombre" }
      ],
      articulos: [],
      texto: "",
      valida: 0,
      validaMensaje: [],
      validaImg: 0,
      validaMensajeImg: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      adId: "",
      CambiarImagenDespues: "",
      tipoLiderSupervisorProduccion: "NADA"
    };
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 3000);

      this.loader = null;
    }
  },
  created() {
    this.dataControLiderSuperProduccion();
    this.listarsinfoto(3);
    //this.seleccionautomaticotarjeta();
    //this.listarMaquina();
    // this.listarAnomalia();
    //this.listarSuceso();
    //let me=this;
    //this.idusuariotarjeta=this.$store.state.usuario.idusuario;
    //this.select();
  },
  methods: {
    dataControLiderSuperProduccion() {
      var tam = this.$store.state.usuario.rol.length;

      for (var i = 0; i < tam; i++) {
        if (this.$store.state.usuario.rol[i] === "OPERADOR LIDER")
          this.tipoLiderSupervisorProduccion = "OPERADOR LIDER";
        else if (this.$store.state.usuario.rol[i] === "SUPERVISOR PRODUCCION") {
          this.tipoLiderSupervisorProduccion = "SUPERVISOR PRODUCCION";
        }
         else if (this.$store.state.usuario.rol[i] === "LIDER") {
          this.tipoLiderSupervisorProduccion = "LIDER";
        } else if (
          this.$store.state.usuario.rol[i] === "TECNICO" ||
          this.$store.state.usuario.rol[i] === "SUPERVISOR MANTENIMIENTO"
        ) {
          this.tipoLiderSupervisorProduccion = "TECNICO";
        } else if (this.$store.state.usuario.rol[i] === "ADMINISTRADOR WCM") {
          this.tipoLiderSupervisorProduccion = "ADMINISTRADOR WCM";
        }
      }

      console.log(
        "metodo  de datos AREAS",
        this.$store.state.usuario.arrayArea
      );
      console.log(
        "metodo  de datos OPERDADOR LIDER",
        this.tipoLiderSupervisorProduccion
      );
      //return this.tipoLiderSupervisorProduccion;
    },
    listarsinfoto(idtarjeta) {
      let me = this;
      var bandera1;
      this.ControlImagenCargaLoad("Cargando datos espere........", true);
      axios
        .get(
          "api/RegistrosAnomalias/ListarTipoTarjetaRecibirLiderSuperProduccion/" +
            3 +
            "/" +
            me.tipoLiderSupervisorProduccion +
            "/" +
            me.$store.state.usuario.arrayArea
        )
        .then(function(response) {
          //console.log(response);
          me.itemsdata = response.data;
          //console.log("datos array: ",me.itemsdata)

          me.verListaTarjetas = true;
          me.ControlImagenCargaLoad("C", 0);
         if(me.itemsdata!=""){
          
            me.msgNotificacion("Informacion","datos cargados",'success');
          }else{
             me.msgNotificacion("Informacion","ningun registro en la base de datos",'success');
          }

        })
        .catch(function(error) {
           console.log(error);
          //catch the error, check it has a response object with lodash 
            if(error, 'response') {
              console.log("entro a los errroes");
              //console.log(error);
              if (error.message === "Network Error"){

                //me.errorMsg("El servidor se encuentra suspendido...")
                me.msgNotificacion("Informacion","Servidor suspendido",'error')
                /*server is down*/}  

              if(error.response.status==500)
              {
                 me.msgNotificacion("Informacion","Ocurrio un error de conexión a Internet o la red...",'error')
               // me.errorMsg(" Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet..")
              }
              //console.log(error.response.data);
          } 
          else {
              console.log("Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet o la red");
              console.log("error response property is undefined")
          }
          
          
          
        })
        .finally(()=> me.ControlImagenCargaLoad("..", 0));
    },


    VerMenuTarjetasLista() {
      this.verMenuTarjetas = true;
      //this.verNuevo=true;
      this.verListaTarjetas = false;
    },

    mostrarNuevo(nrotarjeta) {
      this.verNuevo = 1;
      this.idtarjeta = nrotarjeta;
      this.verMenuTarjetas = false;
      this.accionTarjeta = true;

      this.verListaTarjetas = false;
    },
    ocultarNuevo() {
      this.verMenuTarjetas = true;
      this.verNuevo = 0;
      this.limpiar();
      this.verListaTarjetas = true;
      this.codigo = "";
    },
    editItem(item) {
      this.idmaquina = item.idmaquina;
      this.codigo = item.codigo;
      this.idanomalia = item.idregistroanomalia;
      this.nombre_anomalia = item.nombre;
      this.emision_ts = item.emision_ts;
      this.id_usuario = item.id_usuario;
      (this.nombre_usuario = item.usuario), (this.maquina = item.maquina);
      this.anomaliac = item.anomaliac;
      this.relacionado = item.relacionado;
      this.tarjeta = item.tarjeta;
      this.descripcion = item.descripcion;
      this.paso_ma = item.paso_ma;
      this.criticidad = item.criticidad;
      this.turno = item.turno;
      this.area = item.area;
      this.relacionado = item.relacionado;
      this.solucionTarjeta = item.sol_implementada;
      this.usuariotecnico = item.tecnico;
      this.fecharesuelto = item.fecha_solucion;

      //this.editedIndex=1;
      this.dialog = true;
    },
    editarTarjeta(item) {
      this.idregistroanomalia = item.idregistroanomalia;
      this.idanomalia = item.idanomalia;
      this.verNuevo = true;
      this.idarea = item.idarea;
      this.nombrearea = item.area;
      this.idmaquina = item.idmaquina;
      this.nombremaquina = item.maquina;
      this.maquina = item.maquina;
      this.nombreanomalia = item.anomaliac;
      this.nombresuceso = item.relacionado;
      this.idsuceso = item.idsuceso;

      this.tarjetadescripcion = item.descripcion;
      this.tarjetapasoma = item.paso_ma;
      this.tarjetacriticidad = item.criticidad;
      this.codigo = item.codigo;

      this.accionTarjeta = false;
      this.verListaTarjetas = false;
    },

    ocultarDetalle() {
      this.dialog = false;
    },

    OculatarImagen() {
      this.dialogiamgen = false;
      //this.datasrc = [];
      this.imageUrl = "";
      this.imageUrlSolucion = "";
    },

    VerfotoAmbos(item) {
      this.dialogiamgen = true;
      this.listarfotoSolucion(item.idregistroanomalia);
      this.listarfoto(item.idregistroanomalia);
      this.controlFoto = false;
      //this.editedIndex=1;
      //this.dialog = true
    },
    ControlImagenCargaLoad(texto, acccion) {
      this.dialogCargaImagen = acccion;
      this.infoload = texto;
    },
    listarfoto(id) {
      let me = this;
      this.ControlImagenCargaLoad("Cargando imagen espere........", true);
      this.idregistroanomalia = id;
      axios
        .get("api/DetalleFotoAnomalias/VerFotoIngreso/" + me.idregistroanomalia)
        .then(function(response) {
          //console.log(response);
          me.datasrc = response.data;
          me.imageUrl = me.datasrc[0].foto_anomalia;
          me.idfoto = me.datasrc[0].idfoto;
          me.ControlImagenCargaLoad("texto", 0);
          me.validarFoto();
          // me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("texto", 0);
        });
    },
    listarfotoSolucion(id) {
      let me = this;
      this.ControlImagenCargaLoad("Cargando imagen espere........", true);
      this.idregistroanomalia = id;
      axios
        .get(
          "api/DetalleFotoAnomalias/VerFotoSolucion/" + me.idregistroanomalia
        )
        .then(function(response) {
          //console.log(response);
          me.datasrc = response.data;
          me.imageUrlSolucion = me.datasrc[0].foto_anomalia;
          me.idfotoSolucion = me.datasrc[0].idfoto;
          me.ControlImagenCargaLoad("texto", 0);
          me.validarFoto();
          // me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("texto", 0);
        });
    },

    editarImagen() {
      if (this.validarFoto()) {
        return;
      }
      this.loadingImg = true;
      let me = this;

      axios
        .put("api/DetalleFotoAnomalias/ActualizarFotoSolucion", {
          idfoto: me.idfotoSolucion,
          foto_anomalia: me.imageUrlSolucion
        })
        .then(function(response) {
          me.loadingImg = false;
          //me.close();
          // me.listar();
          // me.limpiar();
          me.dialogiamgen = 1;
          me.CambiarImagenDespues = 0;
          me.dialogCargaImagen = 0;

          //me.OculatarImagen();
        })
        .catch(function(error) {
          console.log(error);
          me.loadingImg = false;
        });
    },

    confirmarStado() {
      let me = this;
      axios
        .put("api/RegistrosAnomalias/AsignarTecnico", {
          idregistroanomalia: me.idanomalia,
          idtecnico: me.$store.state.usuario.idusuario
        })
        .then(function(response) {
          me.close();
          me.listar();
          me.limpiar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    confirmarSolucion() {
      let me = this;
      axios
        .put("api/RegistrosAnomalias/AplicarContramedida", {
          idregistroanomalia: me.idanomalia,
          sol_implementada: me.solucionimplentada,
          idtecnico: me.$store.state.usuario.idusuario
        })
        .then(function(response) {
          me.guardarImgSolucion();
          me.close();
          me.listarsinfoto(3);
          me.limpiar();
          //me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    close() {
      this.dialogconfirmar = false;
      this.snackbar = true;
      this.textsnackbar = "Operacion exitosa";
    },
    limpiar() {
      this.tarjetanombre = "";
      this.tarjetapasoma = -1;
      (this.tarjetacriticidad = ""), (this.idarea = ""), (this.nombrearea = "");
      this.idmaquina = "";
      this.nombremaquina = "";
      this.idanomalia = "";
      this.nombreanomalia = "";
      this.idsuceso = "";
      this.nombresuceso = "";
      this.tarjetadescripcion = "";
      this.solucionimplentada = "";
      this.idregistroanomalia = "";
    },

    abrirventanaconfirmar() {
      this.confirmar = true;
    },

    editItemConfirmar(item) {
      this.idanomalia = item.idregistroanomalia;
      //this.editedIndex=1;
      this.codigo = item.codigo;
      this.dialogconfirmar = true;
    },
    seleccionautomaticotarjeta() {
      let me = this;
      if (this.$store.state.usuario.rol == "Mantenimiento") {
        this.tarjetauser = 1;
      } else if (this.$store.state.usuario.rol == "Operador") {
        this.tarjetauser = 2;
      }
    },
    //METODOS DE MAQUINAS
    listarMaquina() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Maquinas/ListarMaquinas/", configuracion)
        .then(function(response) {
          //console.log(response);
          me.maquinas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    listarAreas() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Areas/SelectAreas", configuracion)
        .then(function(response) {
          me.areas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarMaquinas() {
      this.verMaquinas = 1;
      this.listarMaquina();
    },
    mostrarAreas() {
      this.verAreas = true;
      this.listarAreas();
    },
    ocultarMaquinas() {
      this.verMaquinas = 0;
    },
    agregarMaquina(data = []) {
      this.idmaquina = data["idmaquina"];
      this.nombremaquina = data["nombre"];
      this.verMaquinas = 0;
      this.snackbar = true;
      this.color = "success";

      this.textsnackbar = "Maquina seleccionada" + " " + this.nombremaquina;
    },
    //METODOS ANOMALIAS LISTAR
    listarAnomalia() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Anomalias/ListarAnomalias/", configuracion)
        .then(function(response) {
          //console.log(response);
          me.anomaliasdata = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarAnomalia() {
      this.listarAnomalia();
      this.verAnomalias = 1;
    },
    ocultarAnomalia() {
      this.verAnomalias = 0;
    },

    agregarAnomalia(data = []) {
      this.idanomalia = data["idanomalia"];
      this.nombreanomalia = data["nombre"];
      this.verAnomalias = 0;
      this.verMaquinas = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Anomalia seleccionada" + " " + this.nombreanomalia;
    },
    // METODOS DE SUCESOS RELACIONADO
    listarSuceso() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Sucesos/ListarSucesos/", configuracion)
        .then(function(response) {
          //console.log(response);
          me.sucesosdata = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarSuceso() {
      this.verSucesos = 1;
      this.listarSuceso();
    },
    ocultarSuceso() {
      this.verSucesos = 0;
    },
    ocultarArea() {
      this.verAreas = false;
    },

    agregarSuceso(data = []) {
      this.idsuceso = data["idsuceso"];
      this.nombresuceso = data["nombre"];
      this.verSucesos = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Relacionado con " + " " + this.nombresuceso;
    },

    agregarArea(data = []) {
      this.idarea = data["idarea"];
      this.nombrearea = data["nombre"];
      this.verAreas = false;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Area : " + " " + this.nombrearea;
    },
    ///  FIN DE METODOS SUCESOS
    guardar() {
      if (this.validar()) {
        return;
      }
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      let me = this;
      this.loading = true;

      if (this.imageUrl == "") {
        this.imageUrl = me.src;
        //console.log("entra");
      }
      //console.log("algo "+this.imageUrl)

      axios
        .post(
          "api/RegistrosAnomalias/CrearAnomalias",
          {
            //nombre: me.tarjetanombre,
            //'emision_ts':me.tarjetafecha,
            idusuario: this.$store.state.usuario.idusuario,
            paso_ma: me.tarjetapasoma,
            criticidad: me.tarjetacriticidad,
            idarea: me.idarea,
            idmaquina: me.idmaquina,
            idanomalia: me.idanomalia,
            idsuceso: me.idsuceso,
            idtarjeta: me.idtarjeta,
            descripcion: me.tarjetadescripcion,
            //foto_anomalia: me.imageUrl
            detalles: [
              { foto_anomalia: me.imageUrl, tipo_foto: "Ingreso", eliminado: 0 }
            ]
          },
          configuracion
        )
        .then(function(response) {
          me.loading = false;
          me.ocultarNuevo();
          me.listarsinfoto(me.idtarjeta);
          me.limpiar();
          me.mostrarSnacbar("Tarjeta ingresada", "success");
          me.verListaTarjetas = true;
          me.removeFile();
        })
        .catch(function(error) {
          me.snackbar = true;
          me.color = "#C62828";
          me.textsnackbar = "Error en la operacion intente mas tarde";
          me.color = "error";
          me.loading = false;
          me.verListaTarjetas = true;
          me.removeFile();
          console.log(error);
        });
    },
    confirmarStadoSupervisor() {
      let me = this;
      axios
        .put("api/RegistrosAnomalias/ConfirmarRecepcion", {
          idregistroanomalia: me.idanomalia,
          // idsupervisor: me.$store.state.usuario.idusuario,
          idsupervisor: 2,
          observaciones: me.tarjetaobservaciones
        })
        .then(function(response) {
          me.close();
          me.listarsinfoto(3);
          me.limpiar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    //METODO GUARDAR IMAGEN SOLUCION
    guardarImgSolucion() {
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      let me = this;
      this.loadingImg = true;
      axios
        .post(
          "api/DetalleFotoAnomalias/Crear",
          {
            idregistroanomalia: me.idanomalia,
            foto_anomalia: me.imageUrl,
            tipo_foto: "Solucion"
          },
          configuracion
        )
        .then(function(response) {
          me.loadingImg = false;
          me.imageUrl = "";
        })
        .catch(function(error) {
          console.log(error);
          me.loadingImg = false;
          me.imageUrl = "";
        });
    },

    //METODO EDICION DE DATOS
    editarDatos() {
      if (this.validar()) {
        return;
      }
      let me = this;
      axios
        .put("api/RegistrosAnomalias/Actualizar", {
          idregistroanomalia: me.idregistroanomalia,
          paso_ma: me.tarjetapasoma,
          criticidad: me.tarjetacriticidad,
          idarea: me.idarea,
          idmaquina: me.idmaquina,
          idanomalia: me.idanomalia,
          idsuceso: me.idsuceso,
          descripcion: me.tarjetadescripcion
        })
        .then(function(response) {
          me.loading = false;
          me.ocultarNuevo();
          me.listarsinfoto(me.idtarjeta);
          me.limpiar();
          me.mostrarSnacbar("Edicion exitosa", "info");
          me.verListaTarjetas = true;
          me.removeFile();
          me.codigo = "";
        })
        .catch(function(error) {
          console.log(error);
          me.snackbar = true;
          me.color = "#C62828";
          me.color = "error";
          me.textsnackbar = "Error en la operacion intente mas tarde";
          me.loading = false;
          me.verListaTarjetas = true;
          me.removeFile();

          console.log(error);
        });
    },
    /// METODO SNACBAR
    mostrarSnacbar(texto, colorparam) {
      this.verSucesos = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = texto;
      this.color = colorparam;
    },

    validarFoto() {
      this.validaImg = 0;
      this.validaMensajeImg = [];
      if (!this.imageUrl) {
        this.validaMensajeImg.push("Seleccioné una Imagen....");
      }
    },
    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (this.tarjetapasoma < 0) {
        this.validaMensaje.push("Seleccioné PASO MA");
      }
      if (!this.tarjetacriticidad) {
        this.validaMensaje.push("Seleccioné criticidad");
      }
      //if (!this.tarjetaturno){
      // this.validaMensaje.push("Seleccioné un turno");
      //}
      if (!this.idarea) {
        this.validaMensaje.push("Seleccioné una area.");
      }
      if (!this.idmaquina) {
        this.validaMensaje.push("Seleccioné una maquina.");
      }
      if (!this.idanomalia) {
        this.validaMensaje.push("Seleccioné una anomalia.");
      }
      if (!this.idsuceso) {
        this.validaMensaje.push("Seleccioné un suceso relacionado.");
      }
      if (!this.tarjetadescripcion) {
        this.validaMensaje.push("Ingrese una descripcion.");
      }

      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
    onPickFile() {
      this.$refs.image.click();
    },

    onFilePicked(event) {
      var bandera = "";

      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      const files = event.target.files || event.dataTransfer.files;
      let me = this;

      if (files && files[0]) {
        let filename = files[0].name;

        if (filename && filename.lastIndexOf(".") <= 0) {
          return; //return alert('Please add a valid image!')
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.imageUrl = fileReader.result;
          bandera = fileReader.result;
        });
        fileReader.readAsDataURL(files[0]);
        //console.log(fileReader)

        this.$emit("input", files[0]);
      }
    },

    removeFile() {
      this.imageUrl = "";
    }
  }
};
</script>s
<style scoped>
input[type="file"] {
  position: absolute;
  left: -99999px;
}
</style>