<template>
    <v-layout>
      <v-flex xs12 class="ma-1">
       <v-card height="120" :hover="true"  class="grey--text">
        <v-layout row @click="clickMe()" wrap>
          <v-flex xs12>
            <div class="pa-1 title font-weight-regular text-xs-center">{{nombreusuario}}</div>
          </v-flex>
          <v-flex xs4 class>
            <div class="mt-1 ml-2 block">
              <el-avatar shape="square" :size="50" :src="avatar"></el-avatar>
              <!--<v-btn text small @click="clickMe()">emitir</v-btn>-->
            </div>
          </v-flex>
          <v-flex xs8>
            <v-flex xs12 class>
              <div class="item-list mt-2 caption text-xs-left">
                OK
                <el-badge type="success" class="caption text-xs-center mark" :value="okdata" />
              </div>
              <div class="item-list mt-1 caption text-xs-left">
                EJECUCIÓN
                <el-badge class="mark" type="warning" :value="ejecuciondata" />
              </div>
              <div class="item-list mt-1 caption text-xs-left">
                RETRASADA
                <el-badge class="mark" type="danger" :value="retrasadodata" />
              </div>
            </v-flex>
          </v-flex>
        </v-layout>
      </v-card>
      </v-flex>
    </v-layout>
</template>

<script src="./_base-card-responsables.js"></script>
