<template>
  <v-layout class="d-flex align-start " >

    <va-affix offset="0">

    <v-flex class="d-flex align-content-start pa-0 ma-0 mt-0" xs12 md12 lg12>
      <va-page-header>
        <div slot="breadcrumb">
          <va-breadcrumb separator="/">
            <va-breadcrumb-item :to="{ path: '/documentation/pageheader' }">Index</va-breadcrumb-item>
            <va-breadcrumb-item :to="{ path: '/documentation/pageheader' }">Users</va-breadcrumb-item>
            <va-breadcrumb-item>nvms</va-breadcrumb-item>
          </va-breadcrumb>
        </div>

        <div slot="title">
          <span>{{titulo}}</span>
        </div>

        <div slot="subtitle">
          <span>Subtitle</span>
        </div>

       
      </va-page-header>
      
   
    </v-flex>
    </va-affix>
     
  </v-layout>
</template>

<script>
// @ is an alias to /src
//import Tarjeta from './_base-card-total'
//import Footer from '@/components/Footer'
//import Tarjeta from "@/components/layouts/wcm-tarjetas/_base-card-total";

//import Btn from "@/components/Library/boton";

export default {
  name: "ResumenMeses",
  components: {
    //Tarjeta,
  },
  data: () => ({
    team: [
      { name: "Iyad", role: "web developer", avatar: "/img1.png" },
      { name: "Reda", role: "Graphic designer", avatar: "/img2.png" },
      { name: "Zineb", role: "web developer", avatar: "/img3.png" },
      { name: "Hu TechGroup", role: "Desktop developer", avatar: "/img4.png" }
    ],
    PropsColorRoja: 0,
    ROJA: 1,
    AZUL: 2,
    AMARILLA: 3,
    anioReporte: "",
    activeName: "first",
    anioReporte: "",
    readonly: true,
    autoclose: true,
    value: "",
    format: "MM/dd/yyyy"
  }),
  props: {
    titulo: {
      type: String,
      default: "Na"
    }
  },
  methods: {
    CambiarNumeroTarjeta(valor) {
      var total = (this.PropsColorRoja = valor);

      console.log("total props", total);
    },
    handleClick(tab, event) {
      console.log(tab, event);
    }
  },
  created() {
    //  this.AnioActual();
    this.PropsColorRoja = 1;
  }
};
</script>
