// EmitterComponent.vue

<template>
  <button @click="clickMe()">EMITIR EVENTO</button>
</template>

<script>
import { EventBus } from './event-bus.js';

export default {
  data() {
    return {
      count: 0
    }
  },

  methods: {
    clickMe() {
      this.count++;
      EventBus.$emit('emittedEvent', this.count);
      console.log("enviando",this.count)
    }
  }
}
</script>