<template>
  <v-layout row wrap>
    <!---->

    <!--VENTANA CONFIRMACION DE ASIGNACION-->

    <v-dialog v-model="dialogconfirmar" persistent max-width="550" max-height="340">
      <v-card>
        <v-card-title class="headline" v-text="this.codigo"></v-card-title>
        <v-card-text>
          <v-flex xs12>
            <v-flex xs12>
              <v-textarea
                label="Ingrese una descripción de la solución"
                auto-grow
                outlined
                rows="2"
                row-height="20"
                shaped
                v-model="solucionimplentada"
                clearable
                clear-icon="cancel"
                :rules="rules"
                counter
                :value="solucionimplentada"
              ></v-textarea>
              <div class="red--text" v-for="v in validaMensajeSolucion" :key="v" v-text="v"></div>
            </v-flex>
            <v-flex xs12 class="red">
              <v-card>
                <v-image-input
                  v-model="imageUrlSolucion"
                  :image-quality="0.99"
                  image-format="jpeg"
                  minScaling="contain"
                  overlayBorderWidth="7px"
                  overlayPadding="1px"
                  backgroundColor="black"
                  :imageHeight="300"
                  :imageWidth="450"
                  clearable
                />
                <v-card-actions>
                  <v-layout wrap>
                    <v-btn
                      v-if="this.solucionimplentada"
                      color="green darken-1"
                      @click="confirmarSolucion"
                    >Confirmar</v-btn>

                    <v-btn color="green darken-1" flat @click="dialogconfirmar = false">Cancelar</v-btn>
                  </v-layout>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-flex>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!--VENTANA IMAGEN y animacion de carga-->

    <v-dialog v-model="dialogiamgen" width="450" height="350" persistent>
      <template>
        <v-dialog v-model="dialogCargaImagen" hide-overlay persistent width="300">
          <v-flex xs12>
            <v-card color="primary" dark>
              <v-card-text>
                {{this.infoload}}
                <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-dialog>
        <v-flex xs12>
          <v-card class="mx-auto" width="undefined" height="undefined">
            <!--<v-img
              class="white--text grey darken-4"
              height="450"
              width="600px"
              :src="imageUrl"
              aspect-ratio="2"
            >-->

            <v-card-title>
              <v-flex xs12 v-if="this.imageUrl=='A' ">
                <div class="red--text" key="Sin imagen">No se subio ninguna imagen...</div>
              </v-flex>
            </v-card-title>

            <v-flex xs12>
              <template v-if="!verImgCarga">
                <v-img :src="this.imageUrl" @error="imageLoadOnError"></v-img>
              </template>
              <v-flex xs12></v-flex>
              <template v-if="verImgCarga">
                <v-flex xs10>
                  <v-image-input
                    v-model="imageUrl"
                    :image-quality="0.99"
                    image-format="png"
                    minScaling="contain"
                    overlayBorderWidth="7px"
                    overlayPadding="1px"
                    backgroundColor="black"
                    :imageHeight="300"
                    :imageWidth="450"
                    clearable
                  />
                </v-flex>
              </template>
            </v-flex>
            <v-card-actions>
              <template v-if="!this.verImgCarga">
                <v-btn small @click="OculatarImagen()" flat color="orange">Cerrar</v-btn>
              </template>
              <template v-if="this.verImgCarga">
                <v-btn small @click="verImgCarga=0" flat color="orange">Cancelar</v-btn>
              </template>
              <template v-if="!this.verImgCarga">
                <v-btn small @click="verImgCarga=1" flat color="green">Cambiar imagen</v-btn>
              </template>
              <template v-if="this.verImgCarga">
                <v-btn
                  :loading="loadingImg"
                  :disabled="loadingImg"
                  @click="editarImagen()"
                  color="success"
                  small
                >Guardar</v-btn>
              </template>
            </v-card-actions>
          </v-card>
        </v-flex>
      </template>
    </v-dialog>
    <!-- DIALOG BUSCAR CONDICIONES-->
    <v-dialog v-model="verCondicion" max-width="500">
      <v-card>
        <v-card-title>
          <span class="headline">Condiciones inseguras :</span>
          <v-flex xs12 sm1 md1 lg1 xl2>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn @click="listarCondicion()" small fab dark color="teal" v-on="on">
                  <v-icon dark>cached</v-icon>
                </v-btn>
              </template>
              <span>Actualizar lista Relacion</span>
            </v-tooltip>
          </v-flex>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md12 lg12 xl12>
                <template>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="buscarCondicion"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                  <v-data-table
                    :headers="cabeceraCondicion"
                    :items="condiciondata"
                    :search="buscarCondicion"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="justify-center layout px-0">
                        <v-icon
                          medium
                          class="mr-2"
                          @click="agregarCondicion(props.item) "
                        >add_circle</v-icon>
                      </td>
                      <td>{{ props.item.nombre }}</td>
                    </template>

                    <template slot="no-data">
                      <h3>No hay condiciones para mostrar.</h3>
                    </template>
                  </v-data-table>
                </template>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="ocultarCondicion()" color="blue darken" flat>Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- DIALOG ANOMALIAS-->
    <v-dialog v-model="verFallas" max-width="500">
      <v-card>
        <v-card-title>
          <span class="headline">Seleccione un objeto</span>

          <v-flex xs12 sm1 md1 lg1 xl2>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn @click="listarFalla()" small fab dark color="teal" v-on="on">
                  <v-icon dark>cached</v-icon>
                </v-btn>
              </template>
              <span>Actualizar lista objetos</span>
            </v-tooltip>
          </v-flex>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md12 lg12 xl12>
                <template>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="buscarfalla"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                  <v-data-table :headers="cabeceraFallas" :items="fallasdata" :search="buscarfalla">
                    <template slot="items" slot-scope="props">
                      <td class="justify-center layout px-0">
                        <v-icon medium class="mr-2" @click="agregarFalla(props.item)">add_circle</v-icon>
                      </td>
                      <td>{{ props.item.nombre }}</td>
                    </template>
                    <template slot="no-data">
                      <h3>No hay anomalias para mostrar.</h3>
                    </template>
                  </v-data-table>
                </template>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="ocultarFalla()" color="blue darken" flat>Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
       <!-- DIALOG BUSCAR AREAS-->

      <v-dialog v-model="this.verAreas" max-width="700" persistent>
        <v-stepper v-model="e1">
          <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1">PLANTA</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 2" step="2">PROCESO</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 3" step="3">SECTOR-MA</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 4" step="4">SUB-SECTOR</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 5" step="5">MAQUINA</v-stepper-step>
          </v-stepper-header>
          <!--SELECCION DE FLUJO DE DATOS DE AREA---------------------------------------------------------------------------------->
          <v-stepper-items>
            <v-stepper-content step="1">
              <v-card>
                <v-card-title>
                  <span class="title">PLANTA:</span>
                </v-card-title>
                <v-card-text>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="buscarplanta"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                    clearable
                  ></v-text-field>
                  <v-data-table :headers="cabeceraPlanta" :items="plantas" :search="buscarplanta">
                    <template slot="items" slot-scope="props">
                      <td class="justify-center layout px-0">
                        <v-icon medium class="mr-2" @click="agregarPlanta(props.item) ">forward</v-icon>
                      </td>
                      <td>{{ props.item.nombre }}</td>
                    </template>

                    <template slot="no-data">
                      <h3>No hay plantas para mostrar.</h3>
                    </template>
                  </v-data-table>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click="ocultarArea()">Cancel</v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-card>
                <v-card-title class="red-text">
                  <p
                    class="caption font-weight-bold red-text"
                  >Planta: {{this.nombreplanta}} -> PROCESO:</p>
                </v-card-title>
                <v-card-text>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="buscarproceso"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                    clearable
                  ></v-text-field>
                  <v-data-table
                    :headers="cabeceraProceso"
                    :items="procesos"
                    :search="buscarproceso"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="justify-center layout px-0">
                        <v-icon medium class="mr-2" @click="agregarProceso(props.item) ">forward</v-icon>
                      </td>
                      <td>{{ props.item.nombre }}</td>
                    </template>

                    <template slot="no-data">
                      <h3>No hay procesos para mostrar.</h3>
                    </template>
                  </v-data-table>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click="ocultarArea()">Cancel</v-btn>
                  <v-btn @click="e1=1" flat icon color="blue darken-3">
                    <v-icon>arrow_back</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>

            <v-stepper-content step="3">
              <v-card>
                <v-card-title>
                  <p
                    class="caption font-weight-bold"
                  >Planta: {{this.nombreplanta}} -> Proceso: {{this.nombreproceso}} -> SECTOR-MA:</p>
                </v-card-title>
                <v-card-text>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="buscarareas"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                    clearable
                  ></v-text-field>
                  <v-data-table :headers="cabeceraArea" :items="areas" :search="buscarareas">
                    <template slot="items" slot-scope="props">
                      <td class="justify-center layout px-0">
                        <v-icon medium class="mr-2" @click="agregarSectorMA(props.item) ">forward</v-icon>
                      </td>
                      <td>{{ props.item.nombre }}</td>
                    </template>

                    <template slot="no-data">
                      <h3>No hay sectores para mostrar.</h3>
                    </template>
                  </v-data-table>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click="ocultarArea()">Cancel</v-btn>
                  <v-btn @click="e1=2" flat icon color="blue darken-3">
                    <v-icon>arrow_back</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>

            <v-stepper-content step="4">
              <v-card>
                <p
                  class="caption font-weight-bold"
                >Planta: {{this.nombreplanta}} -> Proceso: {{this.nombreproceso}} -> SectorMA: {{this.nombrearea}}</p>
                <v-card-title>
                  <span class="title">Sub-sectores:</span>
                </v-card-title>
                <v-card-text>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="buscarsubsector"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                    clearable
                  ></v-text-field>
                  <v-data-table
                    :headers="cabeceraSector"
                    :items="subareas"
                    :search="buscarsubsector"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="justify-center layout px-0">
                        <v-icon medium class="mr-2" @click="agregarSubArea(props.item) ">forward</v-icon>
                      </td>
                      <td>{{ props.item.nombre }}</td>
                    </template>

                    <template slot="no-data">
                      <h3>No hay sub-sectores para mostrar.</h3>
                    </template>
                  </v-data-table>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="primary" @click="ocultarArea()">Cancelar</v-btn>
                  <v-btn @click="e1=3" flat icon color="blue darken-3">
                    <v-icon>arrow_back</v-icon>
                  </v-btn>
                  <v-btn @click="e1=1" flat icon color="deep-orange">
                    <v-icon>home</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>

            <v-stepper-content step="5">
              <v-card>
                <p
                  class="caption font-weight-bold"
                >Sector: {{this.nombrearea}} Sub-sector: {{this.nombresubarea}}</p>
                <v-card-title>
                  <span class="title">Maquinas:</span>
                </v-card-title>
                <v-card-text>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscarmaquina"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                      clearable
                    ></v-text-field>
                    <v-data-table
                      :headers="cabeceraMaquinas"
                      :items="maquinas"
                      :search="buscarmaquina"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon medium class="mr-2" @click="agregarMaquina(props.item) ">forward</v-icon>
                        </td>
                        <td class="overline">{{ props.item.nombre }}</td>
                      </template>

                      <template slot="no-data">
                        <h3>No hay maquinas para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="primary" @click="ocultarArea()">Cancelar</v-btn>

                  <v-btn @click="e1=4" flat icon color="blue darken-3">
                    <v-icon>arrow_back</v-icon>
                  </v-btn>

                  <v-btn @click="e1=1" flat icon color="deep-orange">
                    <v-icon>home</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-dialog>

    <!--NOTIFICACIONES-->
    <v-snackbar
      v-model="snackbar"
      :timeout="this.timeout"
      bottom
      right="right"
      :color="this.color"
    >{{textsnackbar}}</v-snackbar>

    <v-snackbar
      :multi-line="true"
      v-model="snackbar2"
      :timeout="7000"
      top
      right="right"
      color="info"
    >
      No puede ser editado pasado las 4 horas de su ingreso, contacte con el administrador del sistema
      <v-btn dark color="orange darken-2" text @click="snackbar2 = false">Cerrar</v-btn>
    </v-snackbar>
    <!--FORMULARIO-->

    <v-dialog
      v-model="verNuevo"
      persistent
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-flex xs12>
          <v-layout wrap>
            <v-flex xs12 pa-2 class="indigo lighten-5" md6>
              <v-spacer></v-spacer>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-flex xs12>
                    <v-spacer></v-spacer>
                    <v-toolbar flat color="green darken-1" dark v-if="accionTarjeta==true">
                      <v-icon>assignment</v-icon>
                      <v-toolbar-title>Ingreso de tarjeta</v-toolbar-title>
                      <div class="flex-grow-0"></div>
                      <v-icon>save</v-icon>
                    </v-toolbar>
                    <v-toolbar flat color="green darken-1" dark v-if="accionTarjeta==false">
                      <v-icon>assignment</v-icon>
                      <div class="title">Edición de tarjeta {{this.codigo}}</div>
                      <div class="flex-grow-0"></div>
                      <v-icon>edit</v-icon>
                    </v-toolbar>
                  </v-flex>
                </v-flex>

                <v-spacer></v-spacer>
                <v-flex xs12 sm6 class="pa-0 ma-0">
                  <v-radio-group
                    class="caption"
                    v-model="ope_mtto"
                    row
                    label="Asignar:"
                    :mandatory="false"
                  >
                    <v-radio class="caption" label="OPERADOR" value="operador"></v-radio>
                    <v-radio class="caption" label="MTTO" value="mtto"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex xs12 sm6 class="pa-0 ma-0">
                  <v-radio-group
                    class="caption"
                    v-model="prioridad"
                    row
                    label="Prioridad:"
                    :mandatory="false"
                  >
                    <v-radio class="caption" label="A" value="VA"></v-radio>
                    <v-radio class="caption" label="B" value="VB"></v-radio>
                    <v-radio class="caption" label="C" value="VC"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex xs12 sm8 class="pa-0 ma-0">
                  <v-radio-group class="caption" v-model="she_ma" row :mandatory="false">
                    <v-radio class="caption" label="Seguridad y Salud" value="SHE"></v-radio>
                    <v-radio class="caption" label="Medio ambiente" value="MA"></v-radio>
                  </v-radio-group>
                </v-flex>

                <v-flex xs12 sm8>
                  <p
                    class="caption pa-0 ma-3 black--text subtitle-1 text-xs-left"
                  >¿El trabajo/máquina debe ser detenido hasta la condición insegura sea eliminada?</p>
                </v-flex>
                <v-flex xs12 sm4 class="black--text subtitle-1 text-xs-center">
                  <v-radio-group class="caption" v-model="paro_equipo" row :mandatory="false">
                    <v-radio class="caption" label="SI" value="true"></v-radio>
                    <v-radio class="caption" label="NO" value="false"></v-radio>
                  </v-radio-group>
                </v-flex>

                <v-flex xs12 sm5>
                  <v-text-field class="caption" readonly v-model="this.sectornombre" label="Sector"></v-text-field>
                </v-flex>
                <v-flex xs12 sm1>
                  <v-btn class="caption" @click="mostrarAreas()" small fab dark color="teal">
                    <v-icon dark>list</v-icon>
                  </v-btn>
                </v-flex>

                <v-flex xs12 sm5>
                  <v-text-field class="caption" readonly v-model="maquinanombre" label="Maquina"></v-text-field>
                </v-flex>
                <v-flex xs12 sm1>
                  <v-btn @click="mostrarMaquinas()" small fab dark color="teal">
                    <v-icon dark>list</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex xs12 sm5>
                  <v-text-field
                    class="caption"
                    readonly
                    v-model="fallanombre"
                    label="¿qué esta mal?(objetos)"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm1>
                  <v-btn @click="mostrarFalla()" small fab dark color="teal">
                    <v-icon dark>list</v-icon>
                  </v-btn>
                </v-flex>
                <v-spacer></v-spacer>
                <v-flex xs12 sm5>
                  <v-text-field
                    class="caption"
                    readonly
                    v-model="condicionnombre"
                    label="Condiciones inseguras:"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm1>
                  <v-btn @click="mostrarCondicion()" small fab dark color="teal">
                    <v-icon dark>list</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex xs12 sm12>
                  <v-textarea
                    class="caption"
                    clearable
                    clear-icon="cancel"
                    rows="2"
                    label="Descripción detallada de la anomalía:"
                    :rules="rules"
                    counter
                    :value="descripcion"
                    v-model="descripcion"
                  ></v-textarea>
                </v-flex>

                <v-flex xs12 sm2 md2 lg2 xl2 v-if="errorArticulo">
                  <div class="red--text" v-text="errorArticulo"></div>
                </v-flex>

                <v-flex xs12 sm12 md12 lg12 xl12>
                  <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v"></div>
                </v-flex>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <v-btn @click="ocultarNuevo()" color="blue darken-1" flat>Cancelar</v-btn>
                  <v-btn
                    v-if="this.accionTarjeta==true"
                    :loading="loading"
                    :disabled="loading"
                    @click="guardar()"
                    color="success"
                  >Guardar</v-btn>
                  <v-btn
                    v-if="this.accionTarjeta==false"
                    :loading="loading"
                    :disabled="loading"
                    @click="editarDatos()"
                    color="success"
                  >Guardar cambios</v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 md5 pa-2 ma-2 wrap>
              <v-flex>
                <template v-if="accionTarjeta==true">
                  <v-flex xs10>
                    <v-image-input
                      v-model="imageUrl"
                      :image-quality="0.90"
                      image-format="webp"
                      minScaling="contain"
                      overlayBorderWidth="3px"
                      overlayPadding="1px"
                      backgroundColor="black"
                      :imageHeight="300"
                      :imageWidth="450"
                      clearable
                    />
                  </v-flex>
                  <p
                    class="caption"
                  >Arrastre y suelte la imagen o presione en el icono de carga y suba una imagen del incidente,</p>
                  <p class="caption">recuerde que la imagen es opcional.</p>
                </template>
              </v-flex>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-card>
    </v-dialog>

    <!--LISTAR-->
    <el-breadcrumb separator-class="el-icon-arrow-right">
              <el-breadcrumb-item :to="{ path: '/' }">Inicio</el-breadcrumb-item>
              <el-breadcrumb-item :to="{ path: '/tarjetas' }">WCM Tarjetas</el-breadcrumb-item>
              <el-breadcrumb-item>SHE</el-breadcrumb-item>
              
            </el-breadcrumb>
            <el-divider></el-divider>
    <v-toolbar flat color="white">
      <v-layout mt-1 justify-center align-center wrap>
        <v-btn small @click="mostrarNuevo()" color="#64DD17" fab dark>
          <v-icon>add</v-icon>
        </v-btn>
        <div class="text-center">
          <v-avatar :size="30">
            <img :src="require('../../../../assets/SheData.png')" alt="avatar" />
          </v-avatar>
          <v-avatar :size="30">
            <img :src="require('../../../../assets/SeguridadSHE.png')" alt="avatar" />
          </v-avatar>
        </div>

        <v-toolbar-title class="body-1">Lista de Ingreso</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>

        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
      </v-layout>
    </v-toolbar>
    <el-divider>
      <i></i>
    </el-divider>
    <v-container grid-list-md>
      <v-data-iterator
        :items="itemsdata"
        :search="search"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
        content-tag="v-layout"
        row
        wrap
      >
        <template v-slot:item="props">
          <v-flex xs12 sm4 lg4>
            <v-hover>
              <v-card slot-scope="{hover}" :class="`elevation-${hover ? 10 : 2}`" class="mx-auto">
                <v-card-title>
                  <v-flex xs5>
                    <v-layout wrap>
                      <v-flex xs12 align-start class="caption text-xs-center black--text">
                        <v-alert
                          :value="true"
                          color="green"
                          dense
                          outline
                          class="pa-0 caption"
                        >Tarjeta de Anomalía</v-alert>
                      </v-flex>
                      <v-flex xs12 class="body-1 text-xs-center green accent-4 black--text">
                        <h2>SHE</h2>
                      </v-flex>

                      <v-flex xs12 align-start class="caption text-xs-center black--text">
                        <v-alert :value="true" color="success" dense outline class="pa-0">
                          <v-flex class="text-xs-center" xs1>
                            <template class="text-xs-center" v-if="props.item.prioridad==='VA'">
                              <div class="caption text-xs-center">
                                <span class="red--text caption text-xs-center">Prioridad:A</span>
                              </div>
                            </template>
                            <template class="text-xs-center" v-if="props.item.prioridad==='VB'">
                              <div class="caption">
                                <span class="yellow--text">Prioridad:B</span>
                              </div>
                            </template>
                            <template class="text-xs-center" v-if="props.item.prioridad==='VC'">
                              <div class="caption">
                                <span class="green--text">Prioridad:C</span>
                              </div>
                            </template>
                          </v-flex>
                        </v-alert>
                      </v-flex>
                    </v-layout>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 text-xs-left"
                      >Sector: {{props.item.area}}</p>
                    </v-flex>

                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 text-xs-left"
                      >Maquina: {{props.item.maquina}}</p>
                    </v-flex>
                  </v-flex>
                  <v-layout wrap>
                    <v-flex xs12>
                      <v-flex xs7 class="caption black--text pa-0 ma-2 text-xs-center red--text">
                        <h2>{{props.item.codigo}}</h2>
                      </v-flex>
                      <v-flex xs7 class="caption black--text pa-0 ma-3 text-xs-center red--text">
                          <el-image style="width: 150px; height: 100px" :src="props.item.foto">
                            <div slot="error" class="image-slot">
                              <div class="red--text" key="Sin imagen">No se subio ninguna imagen!</div>
                            </div>
                          </el-image>
                        </v-flex>

                      <v-flex xs12>
                        <v-flex xs12 class="pa-0 ma-0">
                          <p
                            class="caption black--text pa-0 ma-1 text-xs-center"
                          >{{props.item.usuario}}</p>
                        </v-flex>
                        <v-flex xs12 class="pa-0 ma-0">
                          <p
                            class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                          >Fecha: {{props.item.emision_ts}}</p>
                        </v-flex>

                        <v-flex xs12 class="pa-0 ma-0">
                          <p
                            class="caption black--text pa-0 ma-1 text-xs-left"
                          >Turno: {{props.item.turno}}</p>
                        </v-flex>
                        <v-flex xs12 class="pa-0 ma-0">
                          <p
                            class="caption black--text pa-0 ma-1 text-xs-left"
                          >Hora:{{props.item.hora_reporte}}</p>
                        </v-flex>
                      </v-flex>
                    </v-flex>
                  </v-layout>
                </v-card-title>
                <v-card-text class="pa-0 ma-0">
                  <v-layout justify-center align-center wrap>
                    <v-flex class="white--text" xs1>
                      <template class="green accent-4" v-if="props.item.she_ma==='SHE' ">
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            input-value="true"
                            value
                            disabled
                            color="green accent-4"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                      <template v-else>
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            value
                            disabled
                            color="orange"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                    </v-flex>
                    <v-flex class="white--text" xs5>
                      <p
                        class="caption pa-0 ma-0 green accent-4 white--text text-xs-center"
                      >Seguridad y Salud</p>
                    </v-flex>

                    <v-flex class="white--text" xs1>
                      <template v-if="props.item.she_ma==='MA' ">
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            input-value="true"
                            value
                            disabled
                            color="orange"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                      <template v-else>
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            value
                            disabled
                            color="orange"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                    </v-flex>
                    <v-flex class="white--text" xs5>
                      <p
                        class="caption pa-0 ma-0 green accent-4 white--text text-xs-center"
                      >Medio ambiente</p>
                    </v-flex>
                    <v-flex xs12 class="pa-1 ma-0">
                      <p
                        class="caption pa-0 ma-0 black--text text-xs-center"
                      >¿El trabajo/máquina debe ser detenido hasta la condición insegura sea eliminada?</p>
                    </v-flex>
                    <v-flex class="white--text" xs1>
                      <template v-if="props.item.paro_equipo==true">
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            input-value="true"
                            value
                            disabled
                            color="orange"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                      <template v-else>
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            value
                            disabled
                            color="orange"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                    </v-flex>
                    <v-flex class="white--text" xs5>
                      <p class="caption pa-0 ma-0 black--text text-xs-left">SI</p>
                    </v-flex>

                    <v-flex class="white--text" xs1>
                      <template v-if="props.item.paro_equipo==true">
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            value
                            disabled
                            color="orange"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                      <template v-else>
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            input-value="true"
                            value
                            disabled
                            color="orange"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                    </v-flex>
                    <v-flex class="white--text" xs5>
                      <p class="caption pa-0 ma-0 black--text text-xs-left">NO</p>
                    </v-flex>
                    <v-flex xs6>
                      <p
                        class="caption pa-0 ma-0 green accent-4 white--text text-xs-left"
                      >¿qué esta mal?(objetos):</p>
                      <p
                        class="caption pa-0 ma-0 green accent-4 black--text text-xs-left"
                      >{{props.item.falla}}</p>
                    </v-flex>
                    <v-flex xs6>
                      <p
                        class="caption pa-0 ma-0 green accent-4 white--text text-xs-left"
                      >Condiciones inseguras:</p>
                      <p
                        class="caption pa-0 ma-0 green accent-4 black--text text-xs-left"
                      >{{props.item.condicioinsegura}}</p>
                    </v-flex>
                  </v-layout>

                  <v-layout
                    justify-center
                    align-center
                    wrap
                    class="caption pa-0 ma-0 green accent-4 black--text text-xs-left"
                  >
                    <v-flex xs12>
                      <p
                        class="caption pa-0 ma-0 green accent-4 black--text text-xs-left"
                      >Descripción detallada de la anomalía:</p>
                    </v-flex>
                  </v-layout>

                  <v-layout justify-center align-center wrap class="pa-0 ma-0">
                    <v-flex xs12>
                      <v-card class="mx-auto">
                        <v-card-text>{{props.item.descripcion}}</v-card-text>
                      </v-card>
                    </v-flex>
                    <v-flex class="white--text" xs5>
                      <p class="caption pa-0 ma-0 blue accent-4 white--text text-xs-center">OPERADOR</p>
                    </v-flex>
                    <v-flex class="white--text" xs1>
                      <template class="blue accent-4" v-if="props.item.ope_mtto==='operador' ">
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            input-value="true"
                            value
                            disabled
                            color="green accent-4"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                      <template v-else>
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            value
                            disabled
                            color="orange"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                    </v-flex>

                    <v-flex class="white--text" xs5>
                      <p
                        class="caption pa-0 ma-0 red accent-4 white--text text-xs-center"
                      >MANTENIMIENTO</p>
                    </v-flex>
                    <v-flex class="white--text" xs1>
                      <template v-if="props.item.ope_mtto==='mtto' ">
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            input-value="true"
                            value
                            disabled
                            color="orange"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                      <template v-else>
                        <p class="caption pa-0 ma-0">
                          <v-checkbox
                            value
                            disabled
                            color="orange"
                            class="caption pa-0 ma-0"
                            hide-details
                          ></v-checkbox>
                        </p>
                      </template>
                    </v-flex>
                  </v-layout>
                  <v-layout justify-center align-center wrap>
                    <v-flex xs6>
                      <p
                        class="caption pa-0 ma-0 blue green accent-4 text-xs-left"
                      >Prog.: {{props.item.programado_ts}}</p>
                    </v-flex>
                    <template v-if="props.item.alarma==true">
                      <v-flex xs6>
                        <p
                          class="caption pa-0 ma-0 red black--text subtitle-1 text-xs-left"
                        >{{props.item.tiempo_vence}}</p>
                      </v-flex>
                    </template>
                    <template v-else>
                      <v-flex xs6>
                        <p
                          class="caption pa-0 ma-0 yellow black--text subtitle-1 text-xs-left"
                        >{{props.item.tiempo_vence}}</p>
                      </v-flex>
                    </template>
                  </v-layout>
                </v-card-text>
                <v-card-actions>
                  <!--VENTANA ACCCIONES -->

                  <v-flex xs3>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-btn flat icon v-on="on" color="#E65100" @click="Verfoto(props.item)">
                          <v-icon>photo</v-icon>
                        </v-btn>
                      </template>
                      <span>Ver imagen de anomalia</span>
                    </v-tooltip>
                  </v-flex>
                  <v-flex xs3>
                    <template
                      v-if="props.item.edicion===false && props.item.usuario===usuarioedicion"
                    >
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            flat
                            icon
                            v-on="on"
                            color="green"
                            @click="editarTarjeta(props.item)"
                          >
                            <v-icon>edit</v-icon>
                          </v-btn>
                        </template>
                        <span>Editar datos de la tarjeta</span>
                      </v-tooltip>
                    </template>
                    <template
                      v-if="props.item.edicion===true && props.item.usuario===usuarioedicion"
                    >
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn flat icon v-on="on" color="#455A64" @click="edicionSnackBar(1)">
                            <v-icon>edit</v-icon>
                          </v-btn>
                        </template>
                        <span>Editar datos de la tarjeta</span>
                      </v-tooltip>
                    </template>
                  </v-flex>
                </v-card-actions>
              </v-card>
            </v-hover>
          </v-flex>
        </template>
      </v-data-iterator>
    </v-container>
  </v-layout>
</template>
  


<script>
import axios from "axios";
import PictureInput from "vue-picture-input";
export default {
  data() {
    return {
      cabeceraFallas: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Anomalia", value: "nombre", sortable: false }
      ],
      cabeceraMaquinas: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Maquinas", value: "nombre", sortable: false }
      ],
      cabeceraCondicion: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Anomalia", value: "nombre", sortable: false }
      ],
      cabeceraSector: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Sub-Sector", value: "nombre", sortable: false }
      ],
      cabeceraArea: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Sector", value: "nombre", sortable: false }
      ],
      itemsdata: [],
      rowsPerPageItems: [1, 3, 5, 8, 12, 50, 100],
      pagination: {
        rowsPerPage: 3
      },

      usuarioedicion: "",
      idtarjetaWCM: 1,
      checkbox: true,
      radioGroup: 1,
      switch1: true,
      search: "",
      verNuevo: false,
      accionTarjeta: false,
      loading: false,
      errorArticulo: null,
      //Varianbles formulario
      search: "",
      verNuevo: false,

      prioridad: "",
      idarea: "",
      areanombre: "",
      idsector: "",
      sectornombre: "",
      idmaquina: "",
      maquinanombre: "",
      she_ma: "",
      paro_equipo: "",
      idfalla: "",
      fallanombre: "",
      idcondicion: "",
      condicionnombre: "",
      descripcion: "",
      codigo: "",
      ope_mtto: "",
      she_ma: "",
      //varibles de datos extras
      verAreas: false,
      subareas: [],
      areas: [],
      fallasdata: [],
      condiciondata: [],
      maquinas: [],
      validaMensaje: [],
      e1: "",
      verFallas: false,
      buscarfalla: "",
      verCondicion: "",
      buscarCondicion: "",
      areasector: "",
      rules: [v => v.length <= 100 || "Maximo 100 characteres"],
      imageUrl: "",
      buscarmaquina: "",
      buscarareas: "",
      buscarsubsector: "",
      src: "A",
      dialogiamgen: false,
      dialogCargaImagen: false,
      verImgCarga: false,
      loading: false,
      loadingImg: false,
      infoload: "carga de imagen en",
      idFotoAnomalia: "",
      datasrc: [],
      idshe: "",
      dialogconfirmar: false,
      imageUrlSolucion: "",
      solucionimplentada: "",
      validaMensajeSolucion: "",
      // SNACKBAS NOTIFICACIONS
      color: "",
      snackbar: false,
      snackbar2: false,
      textsnackbar: "My timeout is set to 2000.",
      timeout: 2000,
      x: "right",
      y: "top"
    };
  },
  created() {
    this.cargarUsuarioEdicion();
    this.listarsinfoto();
    //this.seleccionautomaticotarjeta();
    //this.listarMaquina();
   
    //this.listarSuceso();
    //let me=this;
    //this.idusuariotarjeta=this.$store.state.usuario.idusuario;
    //this.select();
  },
  components: {},
  methods: {
    //CRUD
    cargarUsuarioEdicion() {
      this.usuarioedicion = this.$store.state.usuario.nombre;
    },
    listarsinfoto() {
      let me = this;
      var bandera1;
      this.ControlImagenCargaLoad("Cargando datos espere........", true);
      axios
        .get("api/RegistroShes/Listar")
        .then(function(response) {
          //console.log(response);

          me.itemsdata = response.data;
          me.ControlImagenCargaLoad("C", 0);
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("C", 0);
        });
    },
    guardar() {
      if (this.validar()) {
        return;
      }
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      let me = this;
      this.loading = true;

      if (this.imageUrl == "") {
        this.imageUrl = "A";
        //console.log("entra");
      }
      //console.log("algo "+this.imageUrl)

      axios
        .post(
          "/api/RegistroShes/CrearAnomaliasShe",
          {
            idusuario: this.$store.state.usuario.idusuario,
            prioridad: me.prioridad,
            idarea: me.idarea,
            idsector: me.idsector,
            idmaquina: me.idmaquina,
            she_ma: me.she_ma,
            paro_equipo: me.paro_equipo,
            idfalla: me.idfalla,
            idcondicion: me.idcondicion,
            descripcion: me.descripcion,
            ope_mtto: me.ope_mtto,
            detalles: [
              { foto_anomalia: me.imageUrl, tipo_foto: "Ingreso", eliminado: 0 }
            ],
            detallesThumbail: [
              {
                foto_anomalia: me.imageUrl,
                tipo_foto: "Ingreso",
                eliminado: 0
              }
            ]
          },
          configuracion
        )
        .then(function(response) {
          me.loading = false;
          me.ocultarNuevo();
          me.listarsinfoto();
          me.limpiar();
          me.mostrarSnacbar("Tarjeta ingresada", "success");
        })
        .catch(function(error) {
          me.snackbar = true;
          me.color = "#C62828";
          me.textsnackbar = "Error en la operacion intente mas tarde";
          me.color = "error";
          me.loading = false;

          console.log(error);
        });
    },
    editarImagen() {
      if (this.validarFoto()) {
        return;
      }
      this.loadingImg = true;
      let me = this;

      axios
        .put("api/DetalleFotoAnomaliaShes/Actualizar", {
          idfoto: me.idFotoAnomalia,
          foto_anomalia: me.imageUrl
        })
        .then(function(response) {
          me.loadingImg = false;
          me.close();
          me.verImgCarga = false;
          //me.listar();
          //me.limpiar();

          //me.OculatarImagen();
        })
        .catch(function(error) {
          console.log(error);
          me.loadingImg = false;
          me.imageUrl = "A";
        });
    },
    editarDatos() {
      if (this.validar()) {
        return;
      }
      let me = this;
      axios
        .put("api/RegistroShes/Actualizar", {
          idregistroshe: me.idshe,
          prioridad: me.prioridad,
          idarea: me.idarea,
          idsector: me.idsector,
          idmaquina: me.idmaquina,
          idfalla: me.idfalla,
          idcondicion: me.idcondicion,
          she_ma: me.she_ma,
          paro_equipo: me.paro_equipo,
          ope_mtto: me.ope_mtto,
          descripcion: me.descripcion
        })
        .then(function(response) {
          me.loading = false;
          me.ocultarNuevo();
          me.listarsinfoto();
          me.limpiar();
          me.mostrarSnacbar("Edicion exitosa", "info");
          me.verListaTarjetas = true;
          // me.removeFile();
          me.codigo = "";
        })
        .catch(function(error) {
          console.log(error);
          me.snackbar = true;
          me.color = "#C62828";
          me.color = "error";
          me.textsnackbar = "Error en la operacion intente mas tarde";
          me.loading = false;
          me.verListaTarjetas = true;
          //me.removeFile();

          console.log(error);
        });
    },
    confirmarSolucion() {
      if (this.validarSolucion()) {
        return;
      }

      let me = this;
      axios
        .put("api/RegistroShes/AplicarContramedida", {
          idregistroshe: me.idshe,
          sol_implementada: me.solucionimplentada,
          idtecnico: me.$store.state.usuario.idusuario
          //idtecnico: me.$store.state.usuario.idusuario
        })
        .then(function(response) {
          me.guardarImgSolucion();
          me.close();
          me.listarsinfoto();
          me.limpiar();
          //me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    guardarImgSolucion() {
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      let me = this;
      this.loadingImg = true;
      axios
        .post(
          "api/DetalleFotoAnomaliaShes/Crear",
          {
            idregistroshe: me.idshe,
            foto_anomalia: me.imageUrlSolucion,
            tipo_foto: "Solucion"
          },
          configuracion
        )
        .then(function(response) {
          me.loadingImg = false;
          me.imageUrl = "";
        })
        .catch(function(error) {
          console.log(error);
          me.loadingImg = false;
          me.imageUrl = "";
        });
    },

    //CRUD

    // ACCIONES FORMULARIOS
    editItemConfirmar(item) {
      this.idshe = item.idregistroshe;
      //this.editedIndex=1;
      this.codigo = item.codigo;
      this.dialogconfirmar = true;
    },
    editarTarjeta(item) {
      this.idshe = item.idregistroshe;
      this.idsector = item.idsector;
      this.sectornombre = item.sector;
      this.paro_equipo = item.paro_equipo;
      this.verNuevo = true;
      this.idarea = item.idarea;
      this.nombrearea = item.area;
      this.idmaquina = item.idmaquina;
      this.maquinanombre = item.maquina;
      this.idfalla = item.idfalla;
      this.fallanombre = item.falla;
      this.idcondicion = item.idcondicion;
      this.condicionnombre = item.condicioinsegura;
      this.she_ma = item.she_ma;

      this.ope_mtto = item.ope_mtto;
      this.descripcion = item.descripcion;
      this.prioridad = item.prioridad;
      this.codigo = item.codigo;
      this.sectornombre = item.area + " " + "-" + item.sector;

      this.accionTarjeta = false;
      this.verListaTarjetas = false;
    },

    limpiar() {
      (this.idarea = ""),
        (this.idsector = ""),
        (this.sectornombre = ""),
        (this.idmaquina = "");
      this.maquinanombre = "";
      this.idfalla = "";
      this.fallanombre = "";
      this.idcondicion = "";
      this.condicionnombre = "";
      this.descripcion = "";
      this.ope_mtto = "";
      this.imageUrl = "A";
      this.she_ma = "";
      this.prioridad = "";
      this.paro_equipo = "";
      this.condicionnombre = "";
      this.idshe = "";
      this.solucionimplentada = "";
    },
    mostrarNuevo() {
      this.verNuevo = 1;

      this.accionTarjeta = true;
      // this.verListaTarjetas = false;
    },
    ocultarNuevo() {
      this.verNuevo = 0;
      this.limpiar();
      // this.verListaTarjetas = true;
      this.codigo = "";
      this.nombresubarea = "";
    },
 //METODOS DE MAQUINAS
    listarMaquina() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Maquinas/Subsector/" + this.idsubarea, configuracion)
        .then(function(response) {
          //console.log(response);
          me.maquinas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    listarPlantas() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Plantas/listar", configuracion)
        .then(function(response) {
          me.plantas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    listarProcesos() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Procesos/SaltoFlujoNivel/" + this.idplanta, configuracion)
        .then(function(response) {
          me.procesos = response.data;
          me.idplanta = me.procesos[0].idplanta;
          me.idproceso = me.procesos[0].idproceso;
          me.nombreproceso = me.procesos[0].nombre;

          if (me.idplanta == 0) {
            me.e1 = 3;
            me.listarSectorMa();
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    listarSectorMa() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Areas/SaltoFlujoNivel/" + this.idproceso, configuracion)
        .then(function(response) {
          me.areas = response.data;
          me.idproceso = me.areas[0].idproceso;
          me.idarea = me.areas[0].idarea;
          me.nombrearea = me.areas[0].nombre;
          if (me.idproceso == 0) {
            me.e1 = 4;
            me.listarSubAreas();
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    listarSubAreas() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      // console.log("areas dentro de la api",me.idarea)
      axios
        .get("api/Sectores/SaltoFlujoNivel/" + this.idarea, configuracion)
        .then(function(response) {
          me.subareas = response.data;
          me.idareacontrol = me.subareas[0].idarea;
          me.idsector = me.subareas[0].idsector;
          me.nombresector = me.subareas[0].nombresector;
          //console.log("areas saliendo de la api",me.idarea)
          if (me.idareacontrol == 0) {
            me.e1 = 4;
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    listarMaquinas() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      console.log("idsector", me.idsector);
      axios
        .get("api/Maquinas/SaltoFlujoNivel/" + this.idsector, configuracion)
        .then(function(response) {
          me.maquinas = response.data;
          console.log(me.maquinas);

          if (Object.keys(response.data).length) {
            me.verAreas = true;
            me.e1 = 5;
            if (me.idsector == 0) {
              me.maquina = me.maquinas[0].idmaquina;
              me.idsector = me.maquinas[0].idsector;
              me.nombresector = me.subareas[0].nombresector;
              me.e1 = 5;
            }
          } else {
            me.snackbar = true;
            me.dialogVisible = true;
            me.textsnackbar = "No tiene ninguna maquina este sub-sector";
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    ConfirmarSubsector() {
      this.dialogVisible = false;
      this.idmaquina = 14;
      this.verAreas = false;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Subsector seleccionado " + " " + this.nombresubarea;
      this.nombremaquina = "Ninguna maquina";
    },
    handleClose(done) {
      this.$confirm("¿Estás seguro de cerrar este diálogo?")
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
  
    mostrarAreas() {
      this.verAreas = true;
      this.listarAreas();
    },
    mostrarPlantas() {
      this.verAreas = true;
      this.listarPlantas();
    },
    mostrarProcesos() {
      //this.verAreas = true;
      this.idplanta;
      this.listarProcesos();
    },
    mostrarSectorMa() {
      //this.verAreas = true;
      this.idproceso;
      this.listarSectorMa();
    },
    mostrarSubAreas() {
      //this.verAreas = true;
      this.idarea;
      this.listarSubAreas();
    },
    mostrarMaquinas() {
      //this.verAreas = true;
      this.idsector;
      this.listarMaquinas();
    },
    ocultarMaquinas() {
      this.verMaquinas = 0;
    },
    agregarMaquina(data = []) {
      this.idmaquina = data["idmaquina"];
      this.nombremaquina = data["nombre"];

      this.snackbar = true;
      this.color = "success";
      //this.e1 = 6;
      this.buscarmaquina = "";
      this.buscarsubsector = "";
      this.buscarareas = "";
      this.buscarplanta = "";
      this.procesos = "";
      this.textsnackbar = "Maquina seleccionada" + " " + this.nombremaquina;
      this.ocultarArea();
    },
      // NUEVOS METODOS DE CARGA DINAMICA DE DATOS-----------------------------------------------------------------------------
    agregarPlanta(data = []) {
      this.idplanta = data["idplanta"];
      this.nombreplanta = data["nombre"];
      // this.verAreas = false;
      this.e1 = 2;
      this.mostrarProcesos();
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Planta : " + " " + this.nombreplanta;
    },
    agregarProceso(data = []) {
      this.idproceso = data["idproceso"];
      this.nombreproceso = data["nombre"];
      // this.verAreas = false;
      this.e1 = 3;
      this.mostrarSectorMa();
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Proceso : " + " " + this.nombreproceso;
    },
    agregarSectorMA(data = []) {
      this.idarea = data["idarea"];
      this.nombrearea = data["nombre"];
      // this.verAreas = false;
      this.e1 = 4;
      this.mostrarSubAreas();
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Proceso : " + " " + this.nombresubarea;
    },

    agregarSubArea(data = []) {
      this.idsector = data["idsector"];
      this.nombresubarea = data["nombre"];
      // this.verAreas = false;
      //this.e1 = 5;
      this.listarMaquinas();
      this.areasector = this.nombrearea + " " + "-" + " " + this.nombresubarea;
      //this.mostrarSubAreas();
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Sub-Sector : " + " " + this.areasector;
    },
   
    ///  FIN DE METODOS SUCESOS

    listarFalla() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Fallas/ListarFallas", configuracion)
        .then(function(response) {
          //console.log(response);
          me.fallasdata = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarFalla() {
      this.listarFalla();
      this.verFallas = 1;
    },
    ocultarFalla() {
      this.verFallas = 0;
    },
    agregarFalla(data = []) {
      this.idfalla = data["idfalla"];
      this.fallanombre = data["nombre"];
      this.verFallas = 0;
      //this.verMaquinas = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Objeto seleccionado" + " " + this.fallanombre;
    },
    listarCondicion() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/CondicionesInseguras/ListarCondiciones", configuracion)
        .then(function(response) {
          //console.log(response);
          me.condiciondata = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarCondicion() {
      this.verCondicion = 1;
      this.listarCondicion();
    },
    ocultarCondicion() {
      this.verCondicion = 0;
    },
    agregarCondicion(data = []) {
      this.idcondicion = data["idcondicion"];
      this.condicionnombre = data["nombre"];
      this.verCondicion = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Condicion: " + " " + this.condicionnombre;
    },


    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (!this.ope_mtto) {
        this.validaMensaje.push("Seleccioné una opcion para la asignacion");
      }
      if (!this.she_ma) {
        this.validaMensaje.push(
          "Seleccioné una opcion para seguridad  y salud o medio ambiente"
        );
      }
      if (!this.prioridad) {
        this.validaMensaje.push("Seleccioné prioridad");
      }
      //if (!this.tarjetaturno){
      // this.validaMensaje.push("Seleccioné un turno");
      //}
      if (!this.idarea) {
        this.validaMensaje.push("Seleccioné un Sector.");
      }
      if (!this.idsector) {
        this.validaMensaje.push("Seleccioné un Sub-sector.");
      }

      if (!this.idmaquina) {
        this.validaMensaje.push("Seleccioné una maquina.");
      }
      if (!this.idfalla) {
        this.validaMensaje.push("Seleccioné que esta mal falla de objeto.");
      }
      if (!this.idcondicion) {
        this.validaMensaje.push("Seleccioné una condicion insegura.");
      }
      if (!this.paro_equipo) {
        this.validaMensaje.push("Seleccioné si maquina debera ser detenida.");
      }
      if (!this.descripcion) {
        this.validaMensaje.push("Ingrese una descripcion.");
      }
      if (this.descripcion.length > 100) {
        this.validaMensaje.push(
          "Ingrese una descripcion menor o igual a 100 caracteres."
        );
      }

      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
   
   
    listarMaquina() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Maquinas/Subsector/" + this.idsector, configuracion)
        .then(function(response) {
          //console.log(response);
          me.maquinas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    /// METODO SNACBAR
    mostrarSnacbar(texto, colorparam) {
      this.verSucesos = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = texto;
      this.color = colorparam;
    },
    edicionSnackBar(estado) {
      this.snackbar2 = estado;
    },
    listarfoto(id) {
      let me = this;
      this.ControlImagenCargaLoad("Cargando imagen espere........", true);
      this.idshe = id;
      axios
        .get("api/DetalleFotoAnomaliaShes/VerFotoIngreso/" + me.idshe)
        .then(function(response) {
          //console.log(response);
          me.datasrc = response.data;
          me.idFotoAnomalia = me.datasrc[0].idfoto;
          me.imageUrl = me.datasrc[0].foto_anomalia;

          me.ControlImagenCargaLoad("texto", 0);
          me.validarFoto();
          // me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("texto", 0);
        });
    },
    ControlImagenCargaLoad(texto, acccion) {
      this.dialogCargaImagen = acccion;
      this.infoload = texto;
    },
    Verfoto(item) {
      this.dialogiamgen = true;
      this.listarfoto(item.idregistroshe);

      //this.editedIndex=1;
      //this.dialog = true
    },
    validarFoto() {
      this.validaImg = 0;
      this.validaMensajeImg = [];
      if (!this.imageUrl) {
        this.validaMensajeImg.push("Seleccioné una Imagen....");
      }
    },
    OculatarImagen() {
      this.dialogiamgen = false;
      //this.datasrc = [];
      this.imageUrl = this.imageLoadOnError();
    },
    imageLoadOnError() {
      this.imageUrl = "A";
      // "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAACI0lEQVQ4jbWQTUhUURzFz/14H86oMzYGfVpoC9u0iLKPVbRt0S4iKArbZRAWmUFwVy4KFcxFi8RdtGgVtGhZa9sERYUJaWU6zRtzxvG9d++7/xY6ky8JgugsD+f87v0f4B/F/jZIIDZ8ZaIDQrYzIqdS+DSllDLyTwWllMyKfZeoVVzmWb5n1HmSk/mCK5olo9iyzCtnAMDdTQCllPRs12DSys/6R/L7EVmm5yPEnKB3SLCPIWodEq2rNgsAKcDotcl8KMTT8rGmo6ZNOBVmwCoaukuAOAAyQKeECC0YYyYFUErJUMpnpRPZ49Zdm0aTBbaITefxkEDcLgIAr5t+svd2ucc/XC9vlKjZNCCCcZbwIQUwOeeUyUvn97K7YNA0a1KeU9IlY837BmDs6phnM9haDzS/jdaC5QTeN41qt5sGBMmXgfHerw1AUNhGRIwaX9QEp5yg7UUN1vu1gSWCSTTECk03sgCg1JmY1+xC3SQQMjMxiqdbsLL+ulNOYOYq4O9qiR/E91IAABDL7LG3kFT9OQ0SHMsHm0DrezJDMEshqpkE+UX2un+0d2oTIBbOg7aX1WIShPRjl4U3G8P/rCGKGnFxBUFLhN1veJCbtyc37iEAYKRv4pBbS27Cmhsk+AGtzc5ie8RXucayG8EPiLZPixle8noGh88XNwLYSN/kOWLI9t+/+JBhbcih64+6TUHfsQKd3LLvbgXjt4YuPMf/0E/fpOyEa4+s4gAAAABJRU5ErkJggg==";
    },
    close() {
      this.dialogconfirmar = false;
      this.snackbar = true;
      this.textsnackbar = "Operacion exitosa";
    },
    validarSolucion() {
      this.validaSolucion = 0;
      this.validaMensajeSolucion = [];

      //if (!this.tarjetaturno){
      // this.validaMensaje.push("Seleccioné un turno");
      //}

      if (this.solucionimplentada.length > 100) {
        this.validaMensajeSolucion.push(
          "Ingrese una descripcion menor o igual a 100 caracteres."
        );
      }

      if (this.validaMensajeSolucion.length) {
        this.validaSolucion = 1;
      }
      return this.valida;
    }

    // ACCIONES FORMULARIOS
  }
};
</script>s
