<template>
  <v-layout align-start>
    <template>
<!--SECTOR-->
    <v-dialog v-model="dialogSector" persistent width="500">
      <v-card>
        <v-card-title>
          Sectores:
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar"
            single-line
            hide-details
            clearable
          ></v-text-field>
        </v-card-title>
        <v-data-table :headers="headersSector" :items="SectoresData" :search="search">
          <template v-slot:items="props">
            <td>{{ props.item.nombre }}</td>
            <td class="text-xs-left">
              <v-icon medium  class="mr-2" @click="itemSector(props.item)">forward</v-icon>
            </td>
          </template>
          <template v-slot:no-results>
            <v-alert
              :value="true"
              color="error"
              icon="warning"
            >No hay datos "{{ search }}" ningun resultado.</v-alert>
          </template>
        </v-data-table>
      <v-card-actions>
           <v-btn @click="limpiar()" color="primary" dark class="mb-2">Cancelar</v-btn>
      </v-card-actions>
      </v-card>
    </v-dialog>
    <!--SUB SECTOR-->
    <v-dialog v-model="dialogSubSector" persistent width="500">
      <v-card>
         
        <v-card-title>
        
         <v-list>
      <v-list-item>
        <v-list-item-title> <p class="font-weight-bold"> Sector: {{this.nombre}}</p>
      </v-list-item-title>
      </v-list-item>
      <v-list-item>
        <v-list-item-title>Sub-Sectores:
      </v-list-item-title>
      </v-list-item>
      
         </v-list>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar"
            single-line
            hide-details
            clearable
          ></v-text-field>
        </v-card-title>
        <v-data-table :headers="headersSubSector" :items="subareas" :search="search">
          <template v-slot:items="props">
            <td>{{ props.item.nombre }}</td>
            <td class="text-xs-left">
              <v-icon medium  class="mr-2" @click="itemSubSector(props.item)">forward</v-icon>
            </td>
          </template>
          <template v-slot:no-results>
            <v-alert
              :value="true"
              color="error"
              icon="warning"
            >No hay datos "{{ search }}" ningun resultado.</v-alert>
          </template>
        </v-data-table>
      <v-card-actions>
           <v-btn @click="limpiar()" color="primary" dark class="mb-2">Cancelar</v-btn>
            <v-btn @click="atras(1,0)" color="primary" dark class="mb-2">ATRAS</v-btn>
      </v-card-actions>
      </v-card>
    </v-dialog>

    <!--CREAR MAQUINA-->
    <v-dialog v-model="dialogMaquina" persistent width="500">
      <v-card>
        <v-card-title>
          
          <v-list>
      <v-list-item>
        <v-list-item-title><p class="font-weight-bold">Sector: {{this.nombre}} Sub-Sector: {{this.nombresubsector}}</p>
      </v-list-item-title>
      </v-list-item>
      <v-list-item>
        <v-list-item-title>Crear Maquina:
      </v-list-item-title>
      </v-list-item>
      
      
    </v-list>
          
        </v-card-title>
<v-form v-model="valid">
    <v-container>
      <v-row>
        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="nombremaquina"
           
            label="Nombre maquina:"
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
          v-model="descripcion"
           
            label="Descripcion:"
            required
          ></v-text-field>
        </v-col>

      </v-row>
    </v-container>
  </v-form>
      <v-card-actions>
           <v-btn @click="guardar()" color="primary" dark class="mb-2">Guardar</v-btn>
           <v-btn @click="limpiar()" color="primary" dark class="mb-2">Cancelar</v-btn>
            <v-btn @click="atras(0,1,0)" color="primary" dark class="mb-2">Atras</v-btn>
      </v-card-actions>
      </v-card>
    </v-dialog>
</template>
    <v-flex>
      <v-toolbar flat color="white">
        <v-toolbar-title>Maquinas</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
          <v-btn @click="verNuevo()" color="primary" dark class="mb-2">Nuevo</v-btn>
        <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm12 md12>
                    <v-text-field v-model="nombre" label="Nombre"></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6 md6>
                    <v-select v-model="idarea" :items="areas" label="Areas"></v-select>
                  </v-flex>
                  <v-flex xs12 sm12 md12>
                    <v-text-field v-model="descripcion" label="Descripción"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12 md12 v-show="valida">
                    <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v"></div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
              <v-btn color="blue darken-1" flat @click.native="guardar">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="adModal" max-width="290">
          <v-card>
            <v-card-title class="headline" v-if="adAccion==1">¿Activar Item?</v-card-title>
            <v-card-title class="headline" v-if="adAccion==2">¿Desactivar Item?</v-card-title>
            <v-card-text>
              Estás a punto de
              <span v-if="adAccion==1">Activar</span>
              <span v-if="adAccion==2">Desactivar</span>
              el ítem {{ adNombre }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat="flat" @click="activarDesactivarCerrar">Cancelar</v-btn>
              <v-btn v-if="adAccion==1" color="orange darken-4" flat="flat" @click="activar">Activar</v-btn>
              <v-btn
                v-if="adAccion==2"
                color="orange darken-4"
                flat="flat"
                @click="desactivar"
              >Desactivar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table :headers="headers" :items="maquinas" :search="search" class="elevation-1">
        <template v-slot:no-data>
          <v-alert :value="true" color="info" icon="info">No se encontro datos :(</v-alert>
        </template>

        <template slot="items" slot-scope="props">
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <template v-if="props.item.activo">
              <v-icon small @click="activarDesactivarMostrar(2,props.item)">block</v-icon>
            </template>
            <template v-else>
              <v-icon small @click="activarDesactivarMostrar(1,props.item)">check</v-icon>
            </template>
          </td>

          <td>{{ props.item.nombre }}</td>
          <td>{{ props.item.area }}</td>
           <td>{{ props.item.sector }}</td>
          
          <td>
            <div v-if="props.item.activo">
              <span class="blue--text">Activo</span>
            </div>
            <div v-else>
              <span class="red--text">Inactivo</span>
            </div>
          </td>
        </template>
        <template slot="no-data">
          <v-btn color="primary" @click="listar">Resetear</v-btn>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      maquinas: [],
      dialog: false,
      headers: [
        { text: "Opciones", value: "opciones", sortable: false },
        { text: "Maquina", value: "nombre" },
        { text: "Sector", value: "area" },
        { text: "Sub-Sector", value: "sector" },
        { text: "Estado", value: "activo", sortable: false }
      ],
      search: "",
      editedIndex: -1,
      idmaquina: "",
      idarea: "",
      areas: [],
      nombre: "",
      nombremaquina: "",
      descripcion: "",
      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      adId: "",
      dialogSector: false,
      search: "",
      SectoresData: [],
      valid:"",
      headersSector: [
        {
          text: "Sector",
          align: "left",
          sortable: false,
          value: "nombre"
        },
        { text: "Continuar", value: "descripcion" }
      ],
       headersSubSector: [
        {
          text: "Sub-Sector",
          align: "left",
          sortable: false,
          value: "nombre"
        },
        { text: "Continuar", value: "descripcion" }
      ],
    nombrearea:"",
    idarea:"",
    dialogSubSector:false,
    dialogMaquina:false,
    subareas:[],
    nombresubsector:"",
    idsector:"",
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo equipo" : "Actualizar equipo";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.listar();
    //this.select();
    this.listarSectores();
  },
  methods: {
    listar() {
      let me = this;
      axios
        .get("api/maquinas/Listar")
        .then(function(response) {
          //console.log(response);
          me.maquinas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
      listarSubAreas() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Sectores/ListarAreasid/" + this.idarea, configuracion)
        .then(function(response) {
          me.subareas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

     listarMaquina() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Maquinas/Subsector/"+this.idsubarea, configuracion)
        .then(function(response) {
          //console.log(response);
          me.maquinas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    atras(x,y,z){

        this.dialogMaquina=z;
         this.dialogSubSector=y;
         this.dialogSector=x;

         if(this.idarea){
             this. listarSubAreas()
         }
        


    },
    select() {
      let me = this;
      var categoriasArray = [];
      axios
        .get("api/areas/Select")
        .then(function(response) {
          categoriasArray = response.data;
          categoriasArray.map(function(x) {
            me.areas.push({ text: x.nombre, value: x.idarea });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    editItem(item) {
      this.idmaquina = item.idmaquina;
      this.idarea = item.idarea;
      this.idsector=item.idsector;
      this.nombre=item.area;
      this.nombresubsector=item.sector;
      //this.nombre = item.nombre;
       this.nombremaquina = item.nombre;
      this.descripcion = item.descripcion;
      this.editedIndex = 1;
      this.dialogMaquina = true;
    },
     itemSector(item) {
      this.idarea = item.id;
      this.nombre = item.nombre;
      this.dialogSubSector = true;
     if(this.idarea)
        this.dialogSector=0
        this. listarSubAreas();
    },
    itemSubSector(item) {
      this.idsector=item.idsector
      this.nombresubsector = item.nombre;
      this.dialogSubSector = false;
     if(this.idsector)
        //this.editedIndex=-1;
        this.dialogMaquina=true;
        //this. listarSubAreas();
    },
    verNuevo(){
        this.editedIndex=-1
        this.dialogSector=1
    },
    close() {
      this.dialog = false;
      this.limpiar();
    },
    limpiar() {
      this.idmaquina = "";
      this.idarea = "";
      this.nombre = "";
      this.descripcion = "";
      this.idarea="",
      this.nombre="",
      this.dialog=false,
      this.dialogSector=false,
      this.dialogSubSector=false,
      this.idsector="",
      this.dialogMaquina=false,
      this
      .nombremaquina="",

    
      this.editedIndex = -1;
    },
    guardar() {
      if (this.validar()) {
     return;
      }
      if (this.editedIndex > -1) {
        //Código para editar
        //Código para guardar
        let me = this;
        axios
          .put("api/maquinas/Actualizar", {
            idmaquina: me.idmaquina,
            idarea: me.idarea,
            idsector:me.idsector,
            nombre: me.nombremaquina,
            descripcion: me.descripcion
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
            me.dialogMaquina=false;
          })
          .catch(function(error) {
            console.log(error);
          });
      } else {
        //Código para guardar
        let me = this;
        axios
          .post("api/maquinas/Crear", {
            idarea: me.idarea,
            idsector:me.idsector,
            nombre: me.nombremaquina,
            descripcion: me.descripcion
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
            me.dialogMaquina=false;
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (this.nombre.length < 3 || this.nombre.length > 50) {
        this.validaMensaje.push(
          "El nombre debe tener más de 3 caracteres y menos de 50 caracteres."
        );
      }
      if (!this.idarea) {
        this.validaMensaje.push("Seleccione una sector.");
      }
      if (!this.idsector) {
        this.validaMensaje.push("Seleccione un sub-sector.");
      }

      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
    activarDesactivarMostrar(accion, item) {
      this.adModal = 1;
      this.adNombre = item.nombre;
      this.adId = item.idmaquina;
      if (accion == 1) {
        this.adAccion = 1;
      } else if (accion == 2) {
        this.adAccion = 2;
      } else {
        this.adModal = 0;
      }
    },
    activarDesactivarCerrar() {
      this.adModal = 0;
    },
    activar() {
      let me = this;
      axios
        .put("api/maquinas/Activar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    desactivar() {
      let me = this;
      axios
        .put("api/maquinas/Desactivar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    listarSectores() {
      let me = this;
      axios
        .get("api/areas/Listar")
        .then(function(response) {
          //console.log(response);
          me.SectoresData = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
